[2021-12-01 13:21] YimengZhang94 commented on #562
Ok, thanks

[2021-12-01 13:22] YimengZhang94 commented on #562
Do you know any other projects that include both environment and training in MARL?

[2021-12-01 13:27] zhou163 commented on #551
I want to train the game agent will have many deaths and spawns
Does _cumulative_rewards store final agent rewards?

Will the agent die rewards disappear?

I see the following code:
def _was_done_step(self, action):
       .......
       del self._cumulative_rewards[agent]

This indicates that the reward record will be removed if the agent dies?

[2021-12-01 22:07] #546 closed

[2021-12-02 00:48] #564 closed

[2021-12-02 03:24] benblack769 commented on #564
There isn't an option to allow this, no. When it was decided that this was a good way to handle this problem, the c++ code in the multi-agent ALE repo was changed to give this penalty.

You can probably detect this with custom python code though. When one player gets a -1 reward, and the other gets 0 reward, then you know that this penalty has taken effect, and you can reverse it, giving both 0 re

[2021-12-02 03:31] benblack769 commented on #562
Sure, there are many projects which have training code and environment code, either in the same repo or in related repos: RLCard, OpenSpiel, MAgent (the original repo), SMAC/pymarl, the open source [MuZero](https://github.com/werner-duvaud/muzero-general) implementation, MPE/MADDPG, ML Agents has some example environments and many more.

The long term goal of pettingzoo is to offer a unified way o

[2021-12-02 03:34] benblack769 commented on #551
If an agent dies, then, is respawned, and can continue gaining reward afterwards, the best way to model that is to just not have it be done. Instead, you can penalize the death with some reward shaping and have the agent continue to be alive, but have its actions be useless, while it is respawning.

This method is used in the Atari environments, such as Joust, where agents lose lives and respawn,

[2021-12-02 04:12] quantumiracle commented on #564
Right, I just did it, so I closed this issue. Probably also as a remind to people that this game is not actually zero-sum.

[2021-12-03 00:07] nikhilweee opened #565 "Error importing Atari environments"
@jkterry1 I believe I'm doing things right, but something is wrong and it needs immediate attention.

Version Information
[code]

Try importing the regular way:
[code]

Try the suggestion from https://github.com/Farama-Foundation/PettingZoo/issues/550#issuecomment-979646948:
[code]

[2021-12-03 00:10] nikhilweee commented on #565
Nevermind, a quick `pip install pettingzoo[atari]` fixed the issue. Sorry for bothering you!

[2021-12-03 00:10] #565 closed

[2021-12-03 12:42] YimengZhang94 commented on #562
Thanks a lot for your reply. It's very helpful! Hope pettingzoo reaches your aim.

[2021-12-04 01:29] jkterry1 opened #566 "Questions/concerns about multiwalker"
1) The documentation for the reward in multiwalker in the website needs to be edited, and possibly code needs to be fixed. It currently reads:

"A positive reward is awarded to each walker, which is the change in the package distance summed with 130 times the change in the walker’s position. By default, the environment is done if any walker or the package falls. A walker is given a reward of -100

[2021-12-04 01:32] jkterry1 commented on #566
4) This gif gets an average total reward of 82.25

![trial_208_82 25](https://user-images.githubusercontent.com/19422700/144691756-9496c857-e802-4e4f-89ac-3c48b2d894c1.gif)

While this gets an average total reward of 75.9
![trial_199_75 90](https://user-images.githubusercontent.com/19422700/144691771-7bf585b9-02a7-4000-8849-2f76b436cf1c.gif)

However, it would appear that in the lower reward gif t

[2021-12-04 01:35] jkterry1 commented on #566
By purely visual inspection, this rollout (reward of 83.42) looks substantially better than all the others?

![trial_178_83 42](https://user-images.githubusercontent.com/19422700/144691981-9ae85e04-339b-481c-a731-91518c23a067.gif)

[2021-12-04 01:36] jkterry1 commented on #566
Is the intended maximum possible per agent reward 100 and that's where the normalization comes from?

[2021-12-04 05:22] zhouweiqing-star opened #567 "Ask a question about the pistonball"
Hello, I'm a novice. I'm very interested in this pettingzoo. In the process of studying it, I now encounter a problem, that is, I don't know how to find the actual position of the piston ball. I hope I can get your reply or the reply of others who can help me

[2021-12-04 16:27] ashutoshs25 opened #568 "Examples of training on the four player team game environments of PettingZoo ?"
While learning about multi agent RL, I have mostly come across algorithms which work well for fully cooperative environments, e.g., parameter sharing (https://arxiv.org/abs/2005.13625), QMIX, MADDPG e.t.c. I have also seen and worked on some tutorials / examples available online on using parameter sharing for training a single RL agent on fully cooperative tasks (e.g. this tutorial on training the

[2021-12-05 00:11] benblack769 commented on #566
The reward is mainly based on how far the package goes. I think thats why in all these gifs, the package seems to get propelled forwards.

[2021-12-05 16:13] jkterry1 commented on #566
The documentation does not say this?

[2021-12-05 18:20] benblack769 commented on #568
One simple method for a team game is to independently train two seperate cooperative methods for each team. In rllib, that means you might just have a policy choice function that directes some of the agents to one policy and the others to another. In a custom implementation, you can send actions of each team to differnet learners. We don't have any examples of this avaliable right now. However, ot

[2021-12-05 18:38] benblack769 commented on #567
Although its not a standard thing to do for a reinforcement learning problem like this, you should be able to get the position of the center of the ball in pixels with

[code]

You can see some simple calculations that use this position here: https://github.com/Farama-Foundation/PettingZoo/blob/master/pettingzoo/butterfly/pistonball/pistonball.py#L411

[2021-12-06 08:27] zhouweiqing-star commented on #567
Thank you very much for your reply, your suggestion is very effective, especially thank you!

[2021-12-06 08:35] zhouweiqing-star commented on #567
Thank you very much for your reply, your suggestion is very effective, especially thank you!

[2021-12-06 20:30] ashutoshs25 commented on #568
Thanks for the reply.

[2021-12-06 22:59] ashutoshs25 commented on #568
Hi again @benblack769 ,  this might be a silly question but I have not been able to figure out which agents belong to the same team in the Petting Zoo 2 vs 2 team game envs e.g. [Foozpong](https://www.pettingzoo.ml/atari/foozpong). While there are four agents with ids `first_0`,  `second_0`, `third_0`, `fourth_0`, it is not clear from the description on the website, which of these agents are on th

[2021-12-08 06:29] jkterry1 opened #572 "[Bug Report] Small bug in cooperative pong"
I managed to get a reward of 100.1, while this should not be possible (it should cap at 100). I assume this is due to some sort of off by one/indexing error or something. This does not appear to be a required fix for my MCMES work.

[2021-12-08 19:50] benblack769 commented on #568
Yeah, this should be included in the documentation. While that is being fixed, you can refer to the source code: https://github.com/Farama-Foundation/Multi-Agent-ALE/blob/master/src/games/supported/Pong.cpp#L71

Looks like first_0 and third_0 are on a team,a nd second_0 and fourth_0 are on a team, because they share the reward.

[2021-12-08 19:59] benblack769 commented on #564
Yeah, its important to remember that. I think I can add something to this effect in the docs to make it very clear.

[2021-12-08 20:02] #562 closed

[2021-12-08 20:35] jkterry1 commented on #572
it's 100.001 not 100.1

[2021-12-08 20:53] jkterry1 opened #574 "Notes regarding from_parallel and other conversions"
Right now, pettingzoo has tools like:

[code]

from_parallel should be given a better name, e.g. parallel2aec, the names of conversions should be revisited, and these should be put into pettingzoo.wrappers when that merge happens

[2021-12-08 21:03] jkterry1 commented on #528
This will also require fixing CI in the magent repo to use github actions instead of Travis so we can cut new releases

[2021-12-09 01:46] #567 closed

[2021-12-09 02:43] jkterry1 commented on #541
the local reward argument also needs to be replaced with a boolean like what's been done with pursuit and is going to be done with multiwalker

[2021-12-09 02:43] jkterry1 commented on #527
(Rohan you still have to do this for multiwalker, I'm just closing this issue for organizational purposes)

[2021-12-09 02:43] #527 closed

[2021-12-10 06:11] Weissle opened #576 "All agents get the same reward in simple_spread_v2"
In this example, I found that all agents got the same reward even though the `local_ratio` was set to 0.5 .
[code]

Below is the output of the code.
[code]

[2021-12-11 18:38] benblack769 commented on #576
In the MPE simple-spread docs, it says:

This is the local reward. All other reward is global. If agents do not collide, then all the reward will be global. Let me know if agents are colliding but are being rewarded globally.

[2021-12-11 19:20] #568 closed

[2021-12-12 00:26] elbamos commented on #498
You asked me to take a look at this... the only one of the warnings I'm able to replicate in pytest concerns the cast of x to a numpy array by waterworld. I dug into the observation_space issue, and couldn't find any code that looks like it would cause that warning to arise.

Can you advise about where you're seeing these? In the meantime I will look at the waterworld-cast issue.

[2021-12-12 02:42] jkterry1 commented on #498
You can see these in the github actions console output when CI runs on any PR. Some may already be fixed or something, this is a slightly old issue.

[2021-12-12 17:06] jkterry1 opened #581 "Move seed into an argument in reset like Gym will in the next release"

[2021-12-12 17:30] #490 closed

[2021-12-12 17:31] benblack769 commented on #490
Resolved by #580

[2021-12-12 18:14] benblack769 commented on #581
@jkterry1 Do you have a plan to move gym-ale to this new reset API? I don't see it here: https://github.com/mgbellemare/Arcade-Learning-Environment/blob/master/src/gym/envs/atari/environment.py#L231

[2021-12-12 19:29] benblack769 commented on #498
I think these have all been fixed by now. I'll close this until you can see them again.

[2021-12-12 19:29] #498 closed

[2021-12-12 19:34] benblack769 commented on #560
In #582, I made this an error, rather than a warning. People can very easily hack around the error if it is a problem.

[2021-12-12 22:43] elbamos commented on #560
@jkterry1 can you clarify what needs to be done here?

[2021-12-13 01:41] jkterry1 commented on #581
Jesse has to update Atari environments to this himself and hasn't. I'm currently trying to resolve the situation.

[2021-12-13 01:47] jkterry1 commented on #560
So apparently Ben just kinda went and did this himself without me knowing he was going to..?

In the mean time, could you work on getting the render test PR into a state it could be merged?

[2021-12-13 02:09] benblack769 commented on #560
@jkterry1 I got my render test PR in a mergable state as well.

[2021-12-13 22:32] jkterry1 opened #583 "More Concerns about Pursuit reward"
My concern can be most easily illustrated by two gifs:

This rollout got 84
![0_3_84](https://user-images.githubusercontent.com/19422700/145899414-430e70b1-2c5d-4d98-9015-cfb434292ebd.gif)

This rollout got 82
![0_2_82](https://user-images.githubusercontent.com/19422700/145899435-09beaf74-d5b4-4755-9ee7-b6b2b3679fa1.gif)

The 84 rollout seems to be /massively/ better than the 82 by visual inspecti

[2021-12-13 22:39] RedTachyon commented on #583
The gifs are pretty long so hard to analyze without controls - did the 82 episode terminate?

In any case, it might be due to the thing we discussed about each agent getting its "copy" of the reward. It seems like in the 82 episode, all 8 agents move together, whereas in the 84 episode, they split into two packs. The reward structure actually encourages the former behavior with reward sharing enab

[2021-12-13 22:45] #583 closed

[2021-12-14 17:39] #560 closed

[2021-12-15 03:17] capyun commented on #550
hello, i am using python3.8, pettingzoo 1.14.0,
and i get some error:

env = pistonball_v4.parallel_env(n_pistons=20, time_penalty=-0.1,
    this raise DeprecatedEnv(f"{name}_v{old_version} is now deprecated, use {name}_v{new_version} instead")
pettingzoo.utils.deprecated_module.DeprecatedEnv: pistonball_v4 is now deprecated, use pistonball_v5 instead

when i use v5
from pettingzoo.butterfly impor

[2021-12-15 07:00] AdityaKapoor74 opened #585 "Use of PettingZoo environment in my research paper"
Hello community!
First of all, a wonderful job on building these gym environments for MARL. It has been needed for quite some time now.
Cutting back to the chase, I have been wanting to use multiple PettingZoo environments in my research but I am facing a few issues.
1) In the pursuit env, I am unable to import pursuit_v4, how do I go about that?
2) Is there any way in which I can get local reward

[2021-12-15 09:33] capyun opened #586 "13 lines tutorial error"
when i run 13 lines tutorial on windows, i get this error:
Traceback (most recent call last):
  File "E:/workspace_pycharm/MADDPG_torch-master/ppo.py", line 28, in <module>
    model.learn(total_timesteps=2000000)
  File "D:\Environ\anaconda3\envs\AI\lib\site-packages\stable_baselines3\ppo\ppo.py", line 299, in learn
    return super(PPO, self).learn(
  File "D:\Environ\anaconda3\envs\AI\lib\site-

[2021-12-16 04:32] loveisacat opened #587 "How to train magent by stable_baselines3?"
Stable_baselines3 can only train the env of "gym"?  Or how to convert the magent-type env to gym-type env that can be trained by stable_baselines3?

[2021-12-16 14:10] AdityaKapoor74 commented on #585
Also, can we enable full observability of the environment? Can someone point me to the docs that will allow me to do that?
Thanks!

[2021-12-16 20:51] benblack769 commented on #585
1. If you are on the latest release of PettingZoo and you cannot do `from pettingzoo.sisl import pursuit_v4`, then I would try running the equivalent `import pettingzoo.sisl.pursuit_v4 as pursuit_v4`. This is a known problem (but a mysterious one that only certain users at certain times) that we have been unable to track down and fix.
2. Yes, you can access the env.rewards for the AEC environment,

[2021-12-18 13:54] AdityaKapoor74 commented on #585
@benblack769 thanks for getting back quickly
Regarding point 2, I shifted from the regular env initialization to parallel_env initialization so I am guessing I will be receiving rewards in the dictionary pertaining to a specific agent only?
Regarding point 4, how close are you to changing the termination logic, is it in the next few days, weeks, months?

Is there any way in which I can ask for sta

[2021-12-19 01:05] elbamos commented on #520
Can you clarify what makes you conclude that the policies learned are suboptimal, and what you feel an optimal policy should look like?

I examined those gifs. It looks to me like the agents are (correctly) learning a ambush-feeding policy. They hide in the corner together, where the probability of being hit by poison is very low, wait for food particles to enter their sensory range, and then leav

[2021-12-19 15:51] benblack769 commented on #585
2. Yes, the dictionary is with single-agent rewards only. You can see details here: https://www.pettingzoo.ml/sisl/pursuit. If you want to, you can create a global reward by averaging the local rewards via a wrapper.
4. Months.

You can use `supersuit.frame_stack_v1(env)` to change the environment to one where the observation contains stacked frames.

Yes, we are aware that it is challenging. If y

[2021-12-19 16:33] benblack769 commented on #586
Could you post all the versions of the libraries you are using (SB3, gym, pettingzoo, supersuit)?

[2021-12-19 16:37] benblack769 commented on #587
MAgent is a very tricky environment to train with SB3. You can try to use use supersuit's `supersuit.pettingzoo_env_to_vec_env_v1` to convert a pettingzoo parallel environment to a Sb3 vector environment. However, since this is a competitive environment, it might or might not work, due to the challenges of self-play in competitive environments.

[2021-12-19 16:39] benblack769 commented on #587
Note that no one I am aware of has tried to use Sb3 to train magent. Its observation is symmetric enough that self-play might be efficient. Its also worth noting that to reproduce the original results, you should train with `minimap_mode`, which gives each agent access to a global view of the map.

[2021-12-19 17:01] loveisacat commented on #587
Thanks for your reply. If I want to train many regular RL algorithms like PPO, A3C in magent. Which RL training tool is recommended except Sb3?  Especially the tools developed based on PyTorch, which do you recommend？

[2021-12-19 17:01] loveisacat commented on #587
Thanks for your reply. If I want to train many regular RL algorithms like PPO, A3C in magent. Which RL training tool is recommended except Sb3?  Especially the tools developed based on PyTorch, which do you recommend？

[2021-12-20 16:11] jkterry1 opened #589 "Seemingly buggy gifs in pistonball"
Both of these seem to raise meaningful concerns about accurate collision detection with the left wall:

![image](https://user-images.githubusercontent.com/19422700/146797834-861717f8-4a0e-43e7-88e6-e34751fb91a3.png)

![image](https://user-images.githubusercontent.com/19422700/146797851-e948a1c1-fee0-44b0-bed2-040b2c6c7df4.png)

[2021-12-20 16:44] jkterry1 commented on #589
Note that these were all created with continuous=False

[2021-12-20 19:53] jkterry1 opened #590 "FPS metadata"
Gym environments have the `video.frames_per_second` item in metadata. It would likely be a fairly good idea to add this to PettingZoo as well, remembering the rendering FPS for each PettingZoo environment is fairly messy and not precisely documented.

[2021-12-21 03:12] jkterry1 commented on #520
So, I think that this is a local minima because the policies aren't causing the agents to run around grabbing food, which surely would perform better. It may be the case that this is an impossible policy for agents to learn, but I think that the issue is ultimately that the environment was poorly designed.

For a bit of history on this environment, it was pulled in from a state of very bad mainten

[2021-12-21 03:13] jkterry1 commented on #520
Additionally, the local reward argument need to be replaced with a boolean (like what was done with pursuit recently), this needs to be fixed (https://github.com/Farama-Foundation/PettingZoo/issues/541#issuecomment-968271662) and https://github.com/Farama-Foundation/PettingZoo/issues/525 should be fixed (though it's a super simple fix).

[2021-12-21 06:47] jkterry1 commented on #589
![0_3c_97 40](https://user-images.githubusercontent.com/19422700/146884399-8af181a9-c022-45de-b66e-e1464eec4a61.gif)
![0_4a_95 79](https://user-images.githubusercontent.com/19422700/146884421-8bd22c70-a14e-41d9-8f2b-80182f2adc61.gif)

[2021-12-21 06:47] jkterry1 commented on #589
These gifs more clearly show the bouncing behavior

[2021-12-21 17:35] jkterry1 opened #591 "Github action for cutting new releases"
GitHub actions has a feature where you can automatically cut releases for libraries just by creating a new release on github. We should really do this for both pettingzoo and supersuit (and merge master into the website branch during the same action if thats possible). This would keep me from annoying Ben or having to go and look up the instructions for release every single time.

[2021-12-22 05:09] jkterry1 commented on #586
I'm closing this due to inactivity, please let us know if you need further help

[2021-12-22 05:10] #586 closed

[2021-12-22 05:10] jkterry1 commented on #585
Hey, let us know if you need anything else

[2021-12-22 05:10] #585 closed

[2021-12-22 05:10] #576 closed

[2021-12-22 05:12] jkterry1 commented on #587
Hey, RLlib is probably what you're looking for

[2021-12-22 05:12] #587 closed

[2021-12-22 07:44] xiaominy opened #593 "different observation space shape after env.step()"
hello, i got some problems when i using pettingzoo.
when i use  env.observation_spaces["first_0"].shape to get agent's observation_space shape, the result is 128, but "observation" in the output of env.step(actions) shows 512. I wonder if you know why?

env = pong_v2.parallel_env(num_players=2, obs_type='ram', max_cycles=100000)
env = supersuit.max_observation_v0(env, 2)
env = supersuit.sticky_act

[2021-12-22 08:21] xiaominy opened #594 "the "env" became a dict when i reset() the environment"
these are part of my codes, the env name is "pong_v2", but when i reset the environment, the 'env' became a dict, could give me some advices?
print("self.env : ",self.env )
        for time_step in tqdm(range(self.args.time_steps)):
            # reset the environment
            if time_step % self.episode_limit == 0:
                s = self.env.reset()
                print(s)

the outputs are

[2021-12-22 08:50] #594 closed

[2021-12-22 23:34] eczy commented on #591
@jkterry1 if you can please elaborate on what exactly is needed here (and point me toward the current release instructions), I can take a look at it.

[2021-12-23 07:38] AdityaKapoor74 commented on #585
Thank you, guys!

[2021-12-23 09:34] AdityaKapoor74 commented on #585
Hey, are there any benchmarks for pursuit_v4?
What is the reward function like?
I am a little confused here.. @jkterry1 @benblack769

[2021-12-24 16:44] benblack769 commented on #520
@elbamos My hypothesis is that this "hide in the corners" strategy is a local optimum, not a global optimum. I belive that a global opimum can be found via a better MARL algorithm than independent learning.

[2021-12-24 16:48] benblack769 commented on #593
Hi, I belive this is a bug found in old versions of pettingzoo and supersuit that is now fixed. Please use the latest versions of both packages.

[2021-12-24 17:01] benblack769 commented on #591
@jkterry1 I'm not sure what benefit this will have. Releasing literally takes less than 1 minute, if you know how to do it. The vast majority of the effort is in checking the version bumps, writing the release notes, etc.

[2021-12-25 15:15] xiaominy commented on #593
Thanks! The problem was solved through your advice!

[2021-12-25 15:15] #593 closed

[2021-12-25 15:52] xiaominy opened #598 "suggestion: a video record function like gym.wrappers.Monitor"
Hi, pettingzoo is really a wonderful project!  But i think if there is a function like 'gym.wrappers.Monitor' will be more helpful.

[2021-12-25 17:06] xiaominy commented on #598
https://github.com/Farama-Foundation/PettingZoo/blob/master/tutorials/render_rllib_pistonball.py

[2021-12-25 17:06] #598 closed

[2021-12-28 06:28] jkterry1 commented on #585
There's no public benchmarks, but includes documentation for the reward function: https://www.pettingzoo.ml/sisl/pursuit

[2021-12-28 06:41] jkterry1 commented on #541
(this is currently on hold as me and someone else are starting to work on this again ourselves)

[2021-12-28 15:11] jkterry1 commented on #591
@eczy See this for an example: https://github.com/vwxyzjn/gym-microrts/blob/master/.github/workflows/pypi.yml

[2021-12-30 22:31] #589 closed

[2021-12-30 22:32] jkterry1 commented on #566
Closed in favor of #595

[2021-12-30 22:32] #566 closed

[2021-12-30 22:33] jkterry1 commented on #502
Closing in favor of the PR up on RLlib that needs to be merged

[2021-12-30 22:33] #502 closed

[2021-12-30 22:34] jkterry1 commented on #541
Closing in favor of #520

[2021-12-30 22:34] #541 closed

[2021-12-30 22:38] jkterry1 commented on #550
So, for all future travelers, this issue comes up when upgrading Pettingzoo, for reasons we aren't able to figure out. IF you just uninstall/reinstall, the problem goes away

[2021-12-30 22:38] #550 closed

[2021-12-31 02:44] benblack769 commented on #551
The remaining issue is being resolved by https://github.com/Farama-Foundation/SuperSuit/pull/122, more comments can be added to that PR.

[2021-12-31 02:44] #551 closed

[2021-12-31 17:25] christophelebrun opened #599 "ImportError"
Hello,

I would like to try the PettingZoo library and installed version 1.14.0.

Nevertheless, I can't import any environment correctly. For example:
`from pettingzoo.butterfly import pistonball_v5`

Gives me the following error:
[code]

My environment: macOs, Anaconda3, Python3.9, JupyterLab.

Any idea of what the problem can be ?

Best regards

[2021-12-31 17:52] christophelebrun commented on #599
Ok, it seems that installing pettingzoo was not enough.
One also need to install a "family of environment".

So, I was able to fix the issue by installing the butterfly family:
`pip install pettingzoo\[butterfly\]`

[2021-12-31 17:52] #599 closed

[2022-01-01 17:14] xiaominy opened #600 "StopIteration"
Hi, i have a problem and i don't know how to solve it, could you give me some advice?

 File "/home/user/anaconda3/lib/python3.6/site-packages/supersuit/utils/make_defaultdict.py", line 5, in make_defaultdict
    dd = defaultdict(type(next(iter(d.values()))))
StopIteration

[2022-01-01 17:30] benblack769 commented on #600
Could you paste in the rest of your stack trace as well as your version of supersuit and pettingzoo? It is hard to understand what is going on from this information alone.

[2022-01-03 13:30] xiaominy commented on #600
sorry, I  use the latest versions of both packages(pettingzoo==1.14.0, supersuit==3.3.2).

Here is part of my code:
First i create an environment:
  env = combat_plane_v1.parallel_env(game_version="jet", full_action_space=False, guided_missile=True)
  env.seed(config.seed)
  env = supersuit.max_observation_v0(env, 2)
  env = supersuit.sticky_actions_v0(env, repeat_action_probability=0.25)
  env =

[2022-01-05 04:47] benblack769 commented on #600
Yeah, this certainly is a terrible error message. I think this can remain open until it is improved.

[2022-01-05 19:24] jkterry1 commented on #535
#602 fixes the second bug described here

[2022-01-05 19:25] jkterry1 commented on #535
#602 fixes both actually, _we think_

[2022-01-05 19:25] #535 closed

[2022-01-05 19:56] amimem opened #603 "Cannot Import from MAgent"
I have been trying to import MAgent envs for several days without any success. I am particularly interested in the Battle environment.

- Python version: 3.8
- PettingZoo version: 1.14.0

How to reproduce the error(s):

- battle_v3

[code]
Expected error:
`cannot import name 'battle_v3' from 'pettingzoo.magent'`

- battle_v2

[code]
Expected error:
`pettingzoo.utils.deprecated_module.DeprecatedEnv

[2022-01-05 23:28] eczy commented on #572
@jkterry1 Can you please explain how I might be able to reproduce this bug? Is this the reward for a single action or the cumulative reward (e.g. the `score` attribute of the `CooperativePong` environment)?

[2022-01-06 01:31] benblack769 commented on #603
For the import issue, this is a known issue that we have been looking into, but have not been able to track down yet.

We have had success working around the problem by doing:

[code]

For the installation issue with `pip install pettingzoo[all]` or `pip install pettingzoo[magent]`, I was unable to reproduce it on my machine with pettingzoo==1.14.0 and python==3.8. However, I will note that if you

[2022-01-06 03:45] amimem commented on #603
Thanks for the swift reply @benblack769. The issue with installing dependencies was that my shell (zsh) uses brackets for pattern matching so I had to use `pip install 'pettingzoo[magent]'` to install them. Also, this seemed to solve the import error, could you confirm that the dependencies are the root cause of the import errors and probably update the docs to include this important step before u

[2022-01-06 17:56] jkterry1 commented on #603
@benblack769 for your reference, zsh (which requires the qoutes for installation here) is what all macs have now. Apple dropped bash over gplv3 disputes

[2022-01-06 17:58] jkterry1 opened #605 "Remove logo from center of MAgent Gather"
Right now, gather has the logo "MAgent | geek.ai" in the center. Ideally this would be replaced with some sort of natural rubble structure like other environments have, both because this is more natural to the environment and because having a third party logo in our repo is weird.

[2022-01-07 23:41] Phoenix-surgere opened #606 "Missing "Wrapper" page from main website + Colab Atari ROMs"
Hello, I am new to using PettingZoo and I have two issues:

1) I do not understand why the "Wrappers" page from the website always gets a 404 Error. Is it missing intentionally or is something bad on my end? The rest of the website works and I find it curious that an entire section is nowhere to be found.

2) I cannot for the life of me get the Atari ROMs to work in Colab. I ran the command from A

[2022-01-08 02:12] rlew631 commented on #499
Just tried recreating the error running PettingZoo 1.14.0 and got a deprecation error. Running _from pettingzoo.butterfly import pistonball_v5_ results in an import error.

I saw there was a __master_v1.11.2__ branch on the repo. Should I roll back to that and attempt to debug or focus on fixing the import on the current release and go from there?

[2022-01-08 21:20] benblack769 commented on #606
Wrappers appears to be a typo in the link. The correct link is: https://www.pettingzoo.ml/wrappers#environment-vectorization
The link the website directs you to is https://www.pettingzoo.ml/Wrappers#environment-vectorization

[2022-01-08 21:26] benblack769 commented on #606
I was able to get AutoROM working by running:

[code]

[code]

[code]

[2022-01-08 22:21] Phoenix-surgere commented on #606
Many thanks, ben, I just tried both the correct link and the code you suggested and finally got it to work! I was missing the second command you pasted and apparently, something went wrong without it, since I spent several hours trying out stuff from the Auto-Rom website to no avail. I also had no idea that the link was just a URL typo, would have never found that out myself. Many thanks!

[2022-01-08 22:21] #606 closed

[2022-01-11 04:50] jkterry1 commented on #499
Hey,

v5 should work if you're using the newest version on pypi, I think master might be on v6 now. What import error are you getting?

[2022-01-11 04:50] #603 closed

[2022-01-12 04:31] rlew631 commented on #499
So this is weird... I was getting
`Traceback (most recent call last):
  File "/Users/rlew/Documents/pettingzoo/demo.py", line 1, in <module>
    from pettingzoo.butterfly import pistonball_v5
  File "/usr/local/lib/python3.9/site-packages/pettingzoo/butterfly/__init__.py", line 5, in __getattr__
    return depricated_handler(env_name, __path__, __name__)
  File "/usr/local/lib/python3.9/site-packa

[2022-01-12 04:32] rlew631 commented on #499
Anyways, time to get into the real debugging now

[2022-01-14 01:59] kkahadze commented on #542
@benblack769 I am currently investigating this issue and I have been trying to learn more about it by recreating it in different ways. I learned that creating the environment with step_reward set to -0.015 made the agents stop going on strike. Also, I saw that these agents going on strike tended to happen near the edges and corners of the map, suggesting it may have something to do with the proxim

[2022-01-14 21:08] benblack769 commented on #499
This import error is definitely a serious ghost.

[2022-01-14 21:12] benblack769 commented on #542
The state space is documented here: https://www.pettingzoo.ml/magent/battle#state-space

If you could share your code, I might be able to give a pointer as to why it is running slowly.

[2022-01-14 21:14] benblack769 opened #610 "Navigating to "Wrappers on the website" gets a 404 error"
Clicking the button in the navigation menu directs here:
https://www.pettingzoo.ml/Wrappers

Actual url is here: https://www.pettingzoo.ml/wrappers

[2022-01-14 21:15] benblack769 commented on #610
Original issue #606

[2022-01-17 04:06] kkahadze commented on #542
Here is my code.
[code]

[2022-01-23 23:48] benblack769 commented on #542
So the reason random_demo renders slowly is because it renders seperately for each agent:

In order to render faster, you can use the parallel interface:

[code]

[2022-01-23 23:52] benblack769 commented on #542
Its hard to imagine why changing `step_reward` will change the outcome of random actions. Some more investigation of what conditions this does and doesn't happen is needed. I suspect the issue is a buffer overrun issue, though I can't be sure.

[2022-01-26 01:40] kkahadze commented on #542
@benblack769 Can I not use agent_iter while running the parallel environment? I am getting "AttributeError: '_parallel_env' object has no attribute 'agent_iter'".

[2022-01-27 21:57] jkterry1 commented on #591
This should be done for supersuit too

[2022-01-28 16:50] jkterry1 opened #613 "Add support for options and returning infos to reset"
Gym is now accepting the `options` argument to reset, and returning infos from it. PettingZoo should add this functionality to keep parity with Gym.

[2022-01-28 17:19] benblack769 commented on #605
Resolved by #608

[2022-01-28 17:19] #605 closed

[2022-01-28 17:19] #499 closed

[2022-01-28 17:38] #600 closed

[2022-01-28 17:42] benblack769 commented on #574
Resolved by #604

[2022-01-28 17:42] #574 closed

[2022-01-28 17:47] benblack769 commented on #610
Should be resolved by #616

[2022-01-28 18:28] #610 closed

[2022-01-31 17:11] andysu2008 opened #621 "Atari Game: Pong stucks at the beginning"
Ok. If I do `pong_v2`.
and I make the following actions (player 1 moves at 8).
`env.step(8, <player2_action>)`.

This will make the game stuck (pong doesn't repawn).

Any help to get unstuck? This "stuck" behavior induces +200 or even +300 rewards which breaks up my RL training. Any help or quick fix to force the game to get unstuck?

[2022-01-31 23:46] kkahadze commented on #542
@benblack769 Nevermind, I fixed that. I realized I did not need to use random_demo when running the parallel environment.

[2022-02-01 04:06] benblack769 commented on #621
So the basic problem is that one player has to server the ball for the game to start. The idea is that the player who need to serve is penalized if the serve doesn't happen for 2 game seconds. Relevant code here https://github.com/Farama-Foundation/Multi-Agent-ALE/blob/master/src/games/supported/Pong.cpp#L45

So player 1, the one who is failing to serve, should be getting something like -200 rewar

[2022-02-05 13:35] am-rutherford opened #623 "Small documentation error in AECEnv's step method"
Hi there,

The documentation for the step method in the AECEnv base class reads as follows:
[code]
However, from looking at the `api_test.py` script in `pettingzoo/test/` I don't think is accurate, as you should just pass in the action for the current agent and nothing should be returned. Please correct me if I have misunderstood!

[2022-02-05 15:17] jkterry1 commented on #613
(and all other new functions to Gym in the planned 0.22 release other than those addressed in https://github.com/Farama-Foundation/PettingZoo/pull/588)

[2022-02-07 00:48] mvadrev opened #624 "Need some clarifications on API"
Hey Guys,

First of all thank you so much for creating the PettingZoo MARL library. I am trying to implement 2 robotic arms working in cooperation with a joint state in a parallel environment. I want to use stablebaselines3 PPO to achieve this. I have tried reading the documentation but I have some questions about the flow for a custom environment. Can you please help as some of the things in the

[2022-02-09 00:34] Zer0112 opened #625 "Documentation: Wrapper Link broken"
The link in the documentation on the sidebar to wrappers is broken.

It points to the wrong name:
`https://www.pettingzoo.ml/Wrappers`

It should be:
`https://www.pettingzoo.ml/wrappers`

#626

[2022-02-11 13:31] RedTachyon opened #628 "[Proposal] Blacken the codebase"
So I know there's a `check_style.sh` but it doesn't seem to actually be used? In the CI flake8 has a bunch of complaints even on current master and those are then ignored. But if the imports are incorrectly ordered, the CI will be stopped.

I suggest scrapping all of that and going with "In black we trust", similarly to gym - blacken the codebase, and then for subsequent code modifications all you

[2022-02-11 15:33] #625 closed

[2022-02-11 15:39] #525 closed

[2022-02-11 15:43] jkterry1 commented on #624
@mvadrev please take a look at https://towardsdatascience.com/multi-agent-deep-reinforcement-learning-in-15-lines-of-code-using-pettingzoo-e0b963c0820b#c7cb

[2022-02-11 15:47] benblack769 commented on #628
This was actually done previously https://github.com/Farama-Foundation/PettingZoo/pull/455 but then I couldn't read the codebase anymore, so I reset the changes. 100% of the blame lies on me.

Since I'm not as active on the project anymore, this might be good to revist.

[2022-02-11 15:49] benblack769 commented on #628
some more discussion https://github.com/Farama-Foundation/PettingZoo/pull/459

[2022-02-11 18:45] benblack769 commented on #621
So I reproduced the issue locally, and what I described is indeed what seems to be occuring. The agent which has a constant action (preventing it from serving) gets negative reward (because it isn't serving). This is intentional behavior, meant to encourage it to serve. While I have seen this behavior before, I belive it is simply caused by normal RL learning instability. I would play around with

[2022-02-11 20:24] benblack769 commented on #628
Got linting working back on https://github.com/Farama-Foundation/PettingZoo/pull/631

[2022-02-11 20:25] benblack769 commented on #628
To be clear, I am fine with individual fines being blackened for individual projects (the recent KAZ or waterworld efforts, for example, it is whole codebase blacking that makes my brain hurt.

[2022-02-11 20:54] #623 closed

[2022-02-13 19:30] mvadrev commented on #624
Hi,

My question is with building a custom parallel environment. So, I want to use stablebaselines3 with AEC environment.

1. If I apply PPO on my custom environment in a parallels environment where all agents step simultaneously, i understand the step function is called at every time step. Is the policy calculated one agent at a time like how i wrote my code below? Does my custom environment look

[2022-02-14 04:30] mvadrev commented on #624
Here is a more updated custom environment with two robots. I created one separate  processTransistion function for the 2 robots.

I have another question. If I for example apply PPO, will the Petting Zoo automatically update the policy at each timestep individually for each agent? or do I have to define this manually?

Currently, I am using the agent selector method to select an agent at each time

[2022-02-22 06:37] hellohawaii2 opened #637 "RLlib pistonball example got Nan."
Hi, I am running[ the rllib pistonball tutorial](https://github.com/Farama-Foundation/PettingZoo/blob/c96c813d0f8a13e54339071a8903d87cac66ef02/tutorials/rllib_pistonball.py), but failed because of numerial Nan error.

This my [error.txt](https://github.com/Farama-Foundation/PettingZoo/files/8113636/error.txt), It seems that the model output Nan as the mean of the action distribution.

I check the

[2022-02-25 06:43] hellohawaii2 commented on #637
I tried to use [the 13lines example using stable_baselines](https://github.com/Farama-Foundation/PettingZoo/blob/7da112f9c2f0367d143065f1bd01ffe9a3774148/tutorials/13_lines.py), and it works fine.

I tried to imitate the PPO config in the 13lines example and change the config of the rllib tutorial code. I tried the following config parameter but do not wor either.

[code]

I tried to render the in

[2022-02-25 07:48] hellohawaii2 commented on #637
In addition.

I am using Ubuntu18.04 with TITAN X(PASCAL) GPU.

I also tried to set "clip_actions" to False and set 'normalize_actions' to True instead, however this does not work for me, either. I got Nan after 500 iterations.

[2022-02-28 03:27] jkterry1 commented on #637
Hey, this is due to instability in learning code, this happens fairly often in reinforcement learning. It usually means your learning code has a bug or you have bad hyperparameters (the second option is far more likely in RLlib). There's wrappers in supersuit that will at least disable the error by turning NaNs to useful values.

[2022-02-28 18:20] hellohawaii2 commented on #637
Hi, Thanks for your response! I tried both the hyperparamters given in the example and the hyperparameters provided in the stable_baselines3, but neither worked with RLlib. May I ask whether this example still work with the newest RLlib?

[2022-03-02 16:43] jkterry1 commented on #547
Closing in favor of PR

[2022-03-02 16:43] #547 closed

[2022-03-02 16:43] #621 closed

[2022-03-02 16:44] #528 closed, assigned to nobody

[2022-03-04 08:08] dwyzzy opened #640 "Can't use num_agents of Parallel API"
I can't get num_agents of the environment when using env.num_agents.
The problem can be reproduced using the code
`from pettingzoo.mpe import simple_speaker_listener_v3`
`env = simple_speaker_listener_v3.parallel_env()`
`print(env.num_agents)`

And the exception is
`AttributeError: 'aec_to_parallel_wrapper' object has no attribute 'agents'`

[2022-03-05 15:30] jkterry1 commented on #637
Hey, does the code in this not work for you? https://towardsdatascience.com/multi-agent-deep-reinforcement-learning-in-15-lines-of-code-using-pettingzoo-e0b963c0820b If so I'll take to take a look

[2022-03-05 15:32] benblack769 commented on #640
We support variable numbers of agents in an environment. Due to that, you will have to do a reset() before using `env.num_agents`.

If you need to get the number of agents before reset(), then

[code]

Not all environments are guarenteed to support this (as some environments, like neural MMO, have no fixed number), but all environments currently in pettingzoo do.

[2022-03-05 15:36] dwyzzy commented on #640
Thank you very much!

[2022-03-05 15:36] #640 closed

[2022-03-05 22:19] benblack769 commented on #624
1. Yes, you will need to figure out how you wish to update your policy as well.
2. You can calculate the policy one agent at a time, or, if your environment allows, you can batch together all the agents with something like `np.concatenate([observations[agent] for agent in env.agents])`

[2022-03-20 03:46] 01jongmin opened #644 "Chess Environment Trailing History"
I was trying to read through and understand the chess environment before attempting to create my own environment for MARL problem. I was reading through the step function and think that the environment is archiving a trailing history.

[code]

When the step function is first called by the white pieces, the starting board is added to the `board_history` as it is run prior to any move being made. Wh

[2022-03-20 23:22] benblack769 commented on #644
To clarify the intention here:

The observation for the first step by the white peices should not include any information. When you play the opening move in chess, all you see is the starting position.

The first step for the black peices should include the state after the move made by the white player.

More information here: https://www.pettingzoo.ml/classic/chess

[2022-03-20 23:48] 01jongmin commented on #644
I understand the intention of the library, my only confusion is why the observation following a call to the `step` function fails to show the correct board state in the observation `ndarray`

When I run the following code snippet
[code]
The `env.render()` function correctly shows the board to be in a state after which the white player moves the left-most pawn up by one spot.

Calling `env.observe(

[2022-03-21 00:43] benblack769 commented on #644
Thanks for clarifying, this does sound like a problem. I'll look into it.

[2022-03-21 02:03] 01jongmin commented on #644
Thank you for taking the time to confirm my suspicion. I can try to create a branch and open up a PR if you don't mind!

[2022-03-21 14:15] benblack769 commented on #644
@01jongmin So I looked into this, and it appears that the problem is that the observation space changed fairly dramatically in this PR: https://github.com/Farama-Foundation/PettingZoo/pull/430, and the documentation was never updated.

[2022-03-21 16:58] 01jongmin commented on #644
I looked into the PR and believe that the way that the PR implemented the 8 step history might be trailing. The clearest example is how the `__init__(self)` function that sets `self.board_history = np.zeros((8, 8, 104), dtype=bool)` doesn't contain the initial board state, and the `reset(self)` function doesn't alter this. Then in the `observe` function, the library stack the first seven layers (c

[2022-03-23 17:57] openenergylab opened #646 "Parallel API question"
I have an environment with multiple different robots that all step at the same time (i.e they use action wait if they have to wait. But all agents perform some action at each time step).

I have one robot that makes sandwiches and the other one picks up ingredients from a conveyer belt.

My question is is parallel API correct to make this environment with or is parallel API just a way to paralleli

[2022-03-23 20:35] marctheshark3 opened #647 "Stable-Baseline3 Compatibility with Gym"
When I try to run your example code with stable-baseline I get a problem with a mismatch of gym version. PettingZoo wants the latest and stable baseline 3 wants a version between 0.17 and 0.2.

[2022-03-23 20:36] marctheshark3 commented on #647
https://towardsdatascience.com/multi-agent-deep-reinforcement-learning-in-15-lines-of-code-using-pettingzoo-e0b963c0820b this article

[2022-03-23 20:56] jkterry1 commented on #647
There's a PR to SB3 to support the newest version of Gym. In the mean time if you just overwrite the SB3 dependency with the newest Gym version it will work just fine.

[2022-03-24 12:16] marctheshark3 commented on #647
Perfect thank you!!

[2022-03-24 12:16] #647 closed

[2022-03-25 23:13] nollied opened #648 "variable action/observation spaces"
does anyone here have thoughts on how to encode dynamic action/observation spaces statically [as required](https://www.pettingzoo.ml/api#additional-environment-api):
[code]

there was a useful discussion [here](https://ai.stackexchange.com/questions/9491/are-there-other-approaches-to-deal-with-variable-action-spaces).

for more context, the environment i'm designing is multi-agent with the followi

[2022-03-28 13:57] danlessa commented on #648
@nollied it depends on the immediate scientific goals. One general approach is to simply assume that agents have a maximum number of wallets and assume a fixed observation / action space (on which the wallet being activated is one of the obs).

This is relatively easy to implement and tends to be numerically performant while also being a cap on the maximum simulation complexity. This is the option

[2022-03-29 08:58] chaobiubiu opened #649 "Why shapes of the observation_space and state_space are (280, 480, 3) in cooperative_pong_v5?"
Hello!
Recently I try to train two agents in **cooperative_pong_v5**, but I find that both the state shape and agents' observation shapes have the same dimension (280, 480, 3) when I instance the environment. Documents about this cooperative pong environment  have said "The observation space of each agent is its own half of the screen."  Meanwhile, I also notice "v3: Change observation space to in

[2022-04-01 01:31] nollied opened #650 "each agent has a different reward function"
is it possible for agents to have different reward functions?

[2022-04-04 14:31] benblack769 commented on #650
Yes, you can see the documentation for the simple_adversary  environment https://www.pettingzoo.ml/mpe/simple_adversary as a very simple example of a env where the two agents have very different reward functions.

[2022-04-04 14:38] benblack769 commented on #648
For this question of selecting from a large number of wallets, I would advise trying to charachterize the wallet, rather than treating it as a discrete entity. Try to think of why you would you select one wallet over another.

If the choice of wallet can be defined as the result of a softmax over a score function where the score is the value to be obtained by choosing the wallet, then you can appl

[2022-04-04 14:39] benblack769 commented on #646
Sorry about the late reply, yes, the parallel API should be a correct choice, it only really means that the agent step at the same time.

[2022-04-04 14:44] mvadrev commented on #646
Let me do one thing. I will break my code down into pseudocode and paste here so it is easy for you to quickly look at it and tell me where I am creating a bug. Thank you for your response.

[2022-04-05 07:59] LaurenYTaylor opened #652 "Error with agents being done at different times"
G'day there,

I have run into an issue in an environment where agents are done at different times. It is possible that PettingZoo is not meant to support this, but I was under the impression it was (e.g. for when agents die throughout an episode) - apologies if not. I realised this problem when I made a test version of my environment which would run each agent until it had taken every possible act

[2022-04-10 05:32] chaobiubiu commented on #649
Oh, I get it, thanks for your quick reply!

[2022-04-10 05:32] #649 closed

[2022-04-13 15:15] Axelskool opened #655 "Training performance metrics"
We have a parallel environment and are using stable-baselines3 and pytorch and are wondering how we can get out rewards during training?  Callbacks and Monitor doesn't seem to work for petting-zoo. Is there a way to get this information?

Much grateful for response!

Axel

[2022-04-13 17:13] jkterry1 commented on #542
Closing in favor of #653

[2022-04-13 17:13] #542 closed

[2022-04-13 18:35] jkterry1 commented on #624
Hey, I'm going to close this due to inactivity, please let us know if you need anything else from us

[2022-04-13 18:35] #624 closed

[2022-04-13 18:36] jkterry1 commented on #637
Hey, I'm going to close this due to inactivity, please let us know if you need anything else from us

[2022-04-13 18:37] #650 closed

[2022-04-13 18:37] jkterry1 commented on #650
Hey, I'm going to close this as the question has been answered, please let us know if you need anything else from us

[2022-04-14 01:48] benblack769 commented on #652
So the logic behind correctly removing agents is highly unintuitive and very difficult to do correctly, and we generally try to avoid implementing it with the AEC API, most environments just implement the parallel API, and convert it to an AEC environment using the `parallel_to_aec_wrapper` wrapper. An example of this is magent environments https://github.com/Farama-Foundation/PettingZoo/blob/mast

[2022-04-17 17:35] jjshoots commented on #655
Hi @Axelskool, I believe you've asked this in the RL Discord channel and your question was answered right?

[2022-04-17 17:40] jjshoots commented on #644
Hi @benblack769 @01jongmin, what's the current status on this issue and is there anything that should be done to fix it?

[2022-04-18 10:58] Axelskool commented on #655
@jjshoots No, I only asked this question here. Is there a way to get the rewards?

Thank you for your reply!

[2022-04-18 13:09] jjshoots commented on #655
@benblack769 Care to elaborate?

[2022-04-18 14:49] benblack769 commented on #655
Likely the solution would be to include something equivalent to the VecMonitor wrapper in SB3, except for pettingzoo environments: https://stable-baselines3.readthedocs.io/en/master/guide/vec_envs.html?highlight=vecmonitor#vecmonitor

[2022-04-18 14:51] benblack769 commented on #655
In the short run, you might be able to apply SB3's VecMonitor directly to the vector environment output by the supersuit cat_vec_envs wrapper, although it will give somewhat inaccurate results for epiode lengths and number of episodes, you should be able to correct for the number of episodes, and the rest of the stats should be correct.

Alternatively, in the long run, someone could create an equi

[2022-04-18 16:37] benblack769 commented on #644
Yeah, there is definitely something off about this logic. The problem seems to be very similar to what @jackyoung96 was dealing with  in supersuit with frame stack, so perhaps he might be interested in taking a look. Or, I might find some time to look into this.

[2022-04-18 18:49] #652 closed

[2022-04-19 14:05] jjshoots commented on #655
@Axelskool, does that answer your question? :)

[2022-04-19 14:42] jackyoung96 commented on #644
Oh, I miss this message. I will fix it ASAP

[2022-04-20 07:48] Axelskool commented on #655
Yes thank you very much @benblack769  and @jjshoots . We will be sure to cite petting-zoo in our master thesis if we manage to train our policy and use it!

Much appreciated!

[2022-04-20 11:44] #655 closed

[2022-04-20 13:49] mvadrev commented on #646
Well not yet here is my pseudo code. But, it still throws a dimensionality error. I have the highly reduced pseudo code below. I did not mention the reset method. But I confirm it it there. Here is the full code:

https://colab.research.google.com/drive/1g57BeUbkPiTdMIIVUqxlx4dZZ8XDe-JB#scrollTo=0XzwOHp9q5To

After running the class as mentioned below, I want to train using stablebaselines. But th

[2022-04-21 08:33] Axelskool opened #661 "How to set black_death to true"
Hi, I have a custom pettingzoo Parallel environment and want to train a shared policy on multiple agents. I want to be able to have a few of my agents inactive during a training-episode under certain conditions. I also want to bring back agents during an episode.  I call the petting_zoo_env_to_vec_env_v1 and concat_vec_envs_v1 on my environment to allow for shared policy and training on copies of

[2022-04-21 08:49] Axelskool commented on #661
Alternatively can we somehow set the reward/observation to some value for the agents that have some inactive attribute set, in order to avoid using these agents for the learning step while they are inactive?

[2022-04-21 15:47] jjshoots commented on #661
I believe the order of wrappers matters n this case. Are you wrappingn it in black death _before_ doing `pettingzoo_env_to_vec_env`, and _then_ only doing `concat_vec_envs_v1`?

[2022-04-21 15:55] jjshoots commented on #661
In general no, at least not without modifying the environment some manner or form I believe. Since you're the one writing the environment, that should be doable.

In general though, this sort of behaviour is the whole idea of the AEC environment.

[2022-04-21 19:37] jjshoots commented on #646
It seems that the problem is with pandas and that it can't find the file `reward.csv`? It doesn't seem to be a pettingzoo problem, but seems to be that the jupyter notebook can't find the file you're specifying.

[2022-04-21 19:40] Axelskool commented on #661
I am first wrapping the parallel petting zoo environment with black death, then petting_zoo_env_to_vec_env then concat_vec_envs_v1. The problem for our environment is that the problem is most easily formulated as a parallel enviroment and the rewards are difficult to calculate without knowing all the other agents actions at once. We are applying marl to manage creation of tracks in a multi-object

[2022-04-21 19:54] Axelskool commented on #661
And if I convert this environment to an AEC, does vectorize_aec_env_v0(aec_env, num_envs, num_cpus=x) allow me to have parameter sharing if I use stable-baseline3 and ppo to train the agent.

Thank you again for your time. It's very appreciated!

[2022-04-21 21:32] mvadrev commented on #646
I have attached reward.csv above man. Here it is for your testing.

https://drive.google.com/file/d/1OrcTUvt4yCNMuOfKqwrpJnE5TtbA543x/view?usp=sharing

 I feel like 97% of the implementation is done. If you can help me figure out the error, I will be happy to write a detailed tutorial on how to do custom environments wth pettingzoo for your website

[2022-04-22 14:24] jjshoots commented on #661
I think @RedTachyon is a better person to answer this question.

[2022-04-22 14:24] jjshoots commented on #648
@nollied hiya, just checking in on this issue, is it done?

[2022-04-22 18:36] jjshoots commented on #646
I'm sorry, but we're currently not entertaining debugging people's usage of PettingZoo that has issues unrelated to the PettingZoo library itself.

[2022-04-22 18:37] jkterry1 commented on #648
Hey, I'm going to close this as I think the issue is resolved, please let us know if you need any additional help

[2022-04-22 18:37] #648 closed

[2022-04-22 18:45] mvadrev commented on #646
Thank you! I will post on discord

[2022-04-22 19:03] benblack769 commented on #522
A functional test would be to wrap an environment with a whole bunch of wrappers, including the conversion wrappers, etc, and then check that unwrapped() returns the base environment object.

[2022-04-22 20:41] #646 closed

[2022-04-29 22:08] #581 closed

[2022-04-29 22:08] #591 closed

[2022-04-30 20:49] benblack769 commented on #661
This black death error is often a symtom hiding the underlying problem. Some ideas:

1. Did you check that your paralell env passes the parallel_api_test? https://www.pettingzoo.ml/environment_creation#parallel-api-test
2. Does your environment generate new agents after reset is called? (the environment vectorization does not support this)
3. Could you share your code snippet of how your environme

[2022-04-30 23:29] #628 closed

[2022-05-01 18:37] Axelskool commented on #661
We generate new agents after reset is called in the sense that we reset the self.agents list and populate it once more. However, we do not change the the possible agents, list. We will try your suggestions! Thanks again!

[2022-05-01 23:50] jjshoots opened #685 "Potentially fixing pettingzoo env conventions"
Excerpt from Ariell:

I think I was supposed to describe my thoughts on the class structure in PZ, but then it fell through the cracks, I see there's some discussions on this now.

Basically, I think it'd be much better to stick to a more typical class-inheritance model. Basically we'd have two top-level abstract classes `AECEnv`  and `ParallelEnv` as we have now. And then each environment would h

[2022-05-01 23:56] jjshoots opened #686 "Run through release test and squash any bugs that can be squashed."

[2022-05-02 01:52] benblack769 commented on #661
Do you repopulate the agents outside of reset (i.e. in step?). This is what is not supported.

[2022-05-02 14:53] virgilt commented on #686
Hi @jjshoots, I'm new to this repo and the world of ML/AI (current student in GT's MSCS program) and want to contribute. Would I be able to take this issue? Also, can you explain what I need to do specifically? Thanks! - Trav

[2022-05-02 17:03] jjshoots commented on #686
Hi @virgilt, glad to have you onboard! You're free to take the issue under your wing if you feel like it.

Basically PettingZoo, as it stands, has seen a lot of development through the many release cycles of the libraries that it depends on. As a result of this, we're seeing more and more deprecation warnings, semantics warnings, etc. as time goes on in our tests.

The goal of this 'issue' is to p

[2022-05-02 17:04] jjshoots commented on #520
For anyone else seeing this issue, a major fix and change of the waterworld environment is in the works.

[2022-05-02 22:44] #518 closed

[2022-05-02 22:46] jjshoots opened #691 "[Proposal] Fix pyright code checking"
### Proposal

Right now, `continue-on-error` is set to `true` in Linux tests for pyright checking. All of the errors are stemming from `utils/env.py`, and not all of them are solvable because of some stuff with gym. It would be great if we can set `continue-on-error` to `false` and have things pass tests.

[2022-05-07 18:59] kir0ul opened #694 "[Proposal] `pre-commit` workflow"
### Proposal

As it has been previously added to Gym in https://github.com/openai/gym/pull/2602, the proposal is to also add `pre-commit` to PettingZoo.

### Motivation

The main motivation is the following:
1. having the exact same checking pipelines running both locally and in CI,
2. not having to wait for the CI to tell you that something is wrong with the new code you added to the repo.

Relat

[2022-05-11 10:42] jjshoots commented on #661
Hi @Axelskool, has this issue been solved? If so would it be possible to close it?

[2022-05-11 10:50] Axelskool commented on #661
Yes close it. Thank you for your time!

Den ons 11 maj 2022 12:42Jet ***@***.***> skrev:

[2022-05-11 15:47] #661 closed

[2022-05-16 06:24] murtazarang opened #698 "[Bug Report] PyGame MAgent VideoRecorder not working"
**Describe the bug**
gym.wrappers.RecordVideo not compatible with MAgent Pygame. This is also referenced and potentially fixed in the issue referenced [here](https://github.com/openai/gym/issues/2675). The error is reproducible across both gym version, 0.22 and 0.23.

**Code example**
[code]

**Traceback**

[code]

**System Info**
OS: Windows WSL2 Ubuntu 20.04

Environment: Conda

Relevant Package

[2022-05-20 13:35] jjshoots commented on #644
Hi @jackyoung96, it's been awhile since this has been visited, what's the progress on this so far?

[2022-05-20 15:19] jjshoots commented on #698
Hi @murtazarang, we've just had a brief discussion among the devs, and gym.wrappers is actually not compatible with PZ. We also don't have any wrappers in SuperSuit for video recording.

_However_, should you be interested, you can do something like this
[code]

[2022-05-21 19:42] spencerbug opened #703 "[Question] Working Dependency Combo between pettingzoo, supersuit, stable_baseline_v3, and gym?"
Hello, I'm trying to get the basic pistonball_v6 example (13 lines of code) working. If I download the latest versions

[2022-05-21 20:02] spencerbug opened #705 "[Question] Version incompatability with SuperSuit and Stable_Baselines3"
Hello, I'm trying to get the [basic pistonball_v6 example (13 lines of code)](https://github.com/Farama-Foundation/PettingZoo/blob/master/tutorials/13_lines.py) working. If I download the latest versions of these 4 packages: gym, pettingzoo, supersuit, stable-baselines3, they are incompatible.
It looks like
stable-baselines3==1.5.0 (latest) depends on gym==0.21.0
supersuit 3.4.0 (latest) depends o

[2022-05-21 20:04] #703 closed

[2022-05-21 20:04] spencerbug commented on #703
Closed  for duplicate

[2022-05-24 02:29] huameichen0523 opened #707 "cannot import name '_dill' from 'pettingzoo.classic'"
I followed the Tic-Tac-Toe tutorial and it worked great. However, I was not able to save Q using dill. The message I obtained was "cannot import name '_dill' from pettingzoo.classic.
I am using Ubuntu 20.04 with Python 3.9.12 and dill 0.3.5.1.

Any advice is greatly appreciated.

HM

[2022-05-25 18:42] jjshoots commented on #705
Hi @spencerbug, sorry for the late reply but yes this is a thing that we are addressing currently.

However, if you go on and actually run the code, it should actually run fine (I'm using Linux), these are just warnings. Are you currently on a Windows machine?

[2022-05-25 18:43] jjshoots commented on #698
Hi @murtazarang did that solve your problem? Can this issue be closed?

[2022-05-25 18:44] jjshoots commented on #707
Hi @huameichen0523, just for context, which tutorial are you referring to (I'm not too well versed in some of them in the docs)?

[2022-05-25 18:55] huameichen0523 commented on #707
I was following the tutorial from this link: https://www.pettingzoo.ml/tutorials
Tic-Tac-Toe is the second one.
The specific piece of code is the following:
========================================
from marl_qlearning import *
env = tictactoe_v3.env()
random.seed(123)
fullrun = 0
if fullrun:
    Q, N = marl_q_learning(env, 500_000, alpha = 0.6, gamma = 0.95, \
                           decay = Tr

[2022-05-25 19:11] jjshoots commented on #705
All things considered, this is actually likely an issue with SB3.

Since SuperSuit, PettingZoo, and Gym, are maintained under the same roof, these three are kept to work well with each other. We can't quite say the same about SB3 though, I'd encourage taking this issue [there](https://github.com/DLR-RM/stable-baselines3/issues) instead just to raise awareness.

[2022-05-25 19:26] jjshoots commented on #707
I don't think this is actually a problem with PettingZoo, but rather a problem with the tutorial or code that you're using.

Instead of a star import, could you try perhaps doing something like the below if the function `marl_qlearning` is in a file `marl_qlearning.py`?

[code]

[2022-05-25 20:04] huameichen0523 commented on #707
In fact in my implementation, I coded marl_q_learning in the main code and no import at all.
The error occurs when "dill.dump(Q,f) " is executed.
Below is the complete code I wrote.

Thank you!
=============================
from pettingzoo.classic import tictactoe_v3
import random
import numpy as np
from collections import defaultdict
import dill
import hashlib
import pickle
import matplotlib.pypl

[2022-05-28 17:30] FelipeMartins96 opened #709 "RLlib example using deprecated supersuit wraper"
https://github.com/Farama-Foundation/PettingZoo/blob/8a8e0403da237fe1cd389dcadaa7cfab8616dec1/tutorials/rllib_pistonball.py#L54
[code]

[2022-05-29 13:17] erickrf opened #710 "Error running tutorial: 'ProcConcatVec' object has no attribute 'pipes'"
I'm running into an error with this long stack trace when I try to run the 13 line tutorial:

[code]

Maybe the issue here is some mismatch in library versioning, but I found no reference to which `supersuit` version is supposed to run with the tutorial (or with the rest of the code).

I am running python 3.9 with `supersuit` 3.4 and `pettingzoo` 1.18.1

[2022-05-29 15:26] jjshoots commented on #709
@FelipeMartins96, thanks for the report, do you mind making a PR addressing this issue? But if that's not possible, we're working on that and it should be up fairly soon.

[2022-05-29 15:33] jjshoots commented on #710
Hi @erickrf, the 13 lines code is actually supposed to work with the latest version of SS and PZ, and is also in [CI tests](https://github.com/Farama-Foundation/PettingZoo/blob/master/.github/workflows/linux-test.yml#L37). So this error is quite peculiar.

That said, I'll get someone to look into this.

[2022-05-30 04:13] jkterry1 commented on #698
Hey, I'm closing this due to inactivity, please let us know if you need any additional help.

[2022-05-30 16:16] jjshoots commented on #710
Hi @erickrf, did you have any luck with this? We've just checked internally that this error cannot be reproduced on our setup. What's your gym version btw?

Just for your reference, this is the setup we're running at the moment:

Ubuntu 20.04, Python 3.8.10

cffi==1.15.0
cloudpickle==2.1.0
cycler==0.11.0
fonttools==4.33.3
gym==0.24.0
gym-notices==0.0.6
importlib-metadata==4.11.4
kiwisolver==1.4.2

[2022-05-30 19:20] jjshoots commented on #705
Closing because this is a known issue and fixing it is (somewhat) out of our hands.

[2022-05-30 19:20] #705 closed

[2022-05-30 21:18] #694 closed

[2022-05-30 23:03] erickrf commented on #710
I tried to install that environment with pipenv and plain pip, but it failed because of conflicts (MacOS 12.4):

[code]

[2022-05-30 23:07] erickrf commented on #710
On a related note, using my existing environment (`ss` 3.4.0 and `pettingzoo` 1.18.1) I tried to learn a TicTacToe police:

[code]

The error suggests some mismatch in expected interfaces... or am I missing some wrapper here?

[code]

[2022-05-30 23:59] benblack769 commented on #707
If you import `dill` first, swapping the order of the imports of dill and pettingzoo, it works:

[code]

Very little clue why this works. I would suspect some sort of combination of the EzPickle hack and some oddities in dill?

Very weird.

[2022-05-31 00:08] benblack769 commented on #710
@erickrf Stable baselines can only train parallel pettingzoo environments which have been transformed into vector environments through the `pettingzoo_env_to_vec_env_v1` wrapper (see the tutorial).

Tictactoe is a turn-based game, so it cannot be transformed into a parallel environment through the standard means, and so we don't recomend training it with SB3, although in theory it can be turned in

[2022-05-31 00:08] huameichen0523 commented on #707
Yes, it works now.
Thank you very much.

Hua-mei

On Mon, May 30, 2022 at 7:59 PM Benjamin Black ***@***.***>
wrote:

[2022-05-31 00:09] #707 closed

[2022-05-31 00:09] benblack769 commented on #710
As for your original problem with ProcCatEnv, this is a complicated multiprocessing wrapper that is hard to debug, and hard technically to generate good error messages for, although I have put some effort into that. I would recomend changing the tutorial to set the number of cpus to 1 to debug this:

[code]

[2022-05-31 17:25] FelipeMartins96 commented on #709
I can open the PR in a moment.
I could fix my tests as the warning is pretty self-explanatory :), just wanted to register here that it is outdated

[2022-05-31 20:18] doesburg11 opened #713 "[Bug]? AEC sequence generates unexpected behavior"
**Description bug**
*What is going right:*
In a PettingZoo so called Agent Environment Cycle, when an agents sets itself to "done" in  "step()", this agent is rightly removed in the next iteration and the cycle resumes as expected to the next agent in "agents".

*What is going wrong:*
However the next agents *after* this next iteration gets unexpectedly skipped during this cycle.

Is there a way o

[2022-05-31 22:45] jackyoung96 commented on #644
I start to fix it in PR #714. Please let me know if this fix is ​​not what you intended.

[2022-06-01 10:07] #644 closed

[2022-06-01 10:13] #709 closed

[2022-06-02 12:24] doesburg11 commented on #713
Thank you @jjshoots for your suggestion. However implementing the `reinit`  function did not solve my problem unfortunately. If I understand it right `reinit` restores the AEC sequence  *at the end of the cycle* but not somewhere  *in the middle of the cycle*.

As per the example I used, during the cycle the second next agent gets still wrongfully skipped during _the current_ cycle using ` reinit

[2022-06-02 13:37] cool-RR opened #716 "[bug] AttributeError: 'function' object has no attribute 'shape'"
[Version info](https://gist.github.com/cool-RR/111b5f6d93a75ffa146f0e42b23d6da9).

I run this code:

[code]

I get this traceback:

[code]

I investigated a bit. Looking at [this code](https://github.com/DLR-RM/stable-baselines3/blob/ed308a7/stable_baselines3/common/vec_env/dummy_vec_env.py#L28) in Stable Baselines 3, it expects the observation space to be available as `env.observation_space`, whi

[2022-06-02 14:04] jjshoots commented on #716
PettingZoo is inherently a multi agent RL library, while Stable Baselines 3 is built for single agent RL (though some hacking can be done with an example [here](https://github.com/Farama-Foundation/PettingZoo/blob/master/tutorials/13_lines.py)). The code that you're using assumes that `chess_v5` is a `gym` env, which it isn't.

What should be done is to actually convert the `chess_v5`'s AEC_Env to

[2022-06-02 14:09] cool-RR commented on #716
Thanks, this is my mistake. I'll figure it out.

[2022-06-02 14:09] #716 closed

[2022-06-02 14:10] jjshoots commented on #713
@benblack769 @RedTachyon Is this something that we should look into? Or is this intended behaviour. I suppose the intended documented use case is for dones to only be set at the end of the cycle, but not being able to set dones during a cycle and causing weird looping issues seems concerning to me.

[2022-06-02 17:41] jjshoots commented on #710
Hey @erickrf, has there been any movement on this front?

[2022-06-03 20:50] erickrf commented on #710
Well, I tried to run a debugger and found out it was just taking a lot of time in the call to `collect_rollout`, and without any logging I had no idea of knowing. It still crashes if use more than one cpu core.

[2022-06-03 21:45] kir0ul opened #719 "[Proposal] Refactor Pytest multiple calls to a single call"
### Proposal

I would suggest to rewrite the 7 calls to Pytest in [`release_test.sh`](https://github.com/Farama-Foundation/PettingZoo/blob/master/release_test.sh) to a single call.

### Motivation

I find the [current testing logs](https://github.com/Farama-Foundation/PettingZoo/runs/6713136740?check_suite_focus=true#step:6:1) pretty unreadable, instead of having to navigate between 7 different te

[2022-06-04 13:25] benblack769 commented on #713
AEC is tricky when removing agents. I don't think we've run across any cases yet like yours, where it is not cyclic, and you want agents to be removed.

Here is a slightly more efficient solution than yours:

[code]

And if you want something that the parallel env can understand, please take a look at this really confusing logic in KAZ https://github.com/Farama-Foundation/PettingZoo/blob/master/pe

[2022-06-05 12:44] jjshoots commented on #710
@benblack769 any ideas?

[2022-06-05 12:46] jjshoots commented on #719
I'm in agreement with removing release test in favour of something more elegant, it's probably OK for you to go ahead and get this done. I see that SuperSuit doesn't have this funky release test thing as well.

[2022-06-05 21:00] doesburg11 commented on #713
Thanks very much for your suggestions and willingness to think along with my apparently unusual case. Much appreciated. I do now realize the trickiness of removing agents in AEC.

As far as I have been able to find out, the sequence of living agents can give rise to unexpected behavior in the following cases of "done" and subsequent removal:

**1)** the selected agent causes _another_ agent to "do

[2022-06-05 22:17] benblack769 commented on #713
Sorry that I missed that it skipped agent 3 in my solution.

As for your solution, I would watch out whenever modifying `self._agent_selector._current_agent` and I would make sure to wrap it with `(self._agent_selector._current_agent-1)%len(self._agent_selector.agent_order)`

Here is a fixed solution that does not seem to skip agent 3.

[code]

Note that I think that it could get a lot simpler.

[2022-06-06 21:05] doesburg11 commented on #713
Thanks again @benblack769. Your solution works and iterates the cycle in the right order! Thanks for your warning, it is most likely not wise to change self._agent_selector_current_agent outside of the agent_selector class as a protected member at all. But I will keep on searching for a more elegant solution.

[2022-06-07 12:01] #713 closed

[2022-06-08 14:35] benblack769 opened #722 "[Proposal] Add link/tutorial for MAVA"
### Proposal

PZ should have a link to the Mava project https://github.com/instadeepai/mava or even better, a tutorial.

[2022-06-09 09:00] frankiiie opened #723 "PettingZoo Custom Parallel Env + StableBaselines3 error"
Hello! I would like to implement a custom parallel environment using PettingZoo and then train multiple agents using StableBaselines3 and SuperSuit (for parameter sharing). For this, I’ve looked into some helpful references, such as the [13-line code tutorial](https://towardsdatascience.com/multi-agent-deep-reinforcement-learning-in-15-lines-of-code-using-pettingzoo-e0b963c0820b) and [Parallel API

[2022-06-09 15:19] jjshoots commented on #723
Hiya, could you post the full stack trace here and report your version of gym, SB3, and PZ here?

[2022-06-10 23:53] benblack769 commented on #723
I belive the problem is that stable_baselines3 goes and does an `isinstance()` check to determine whether the environment is a stable_baselines3.VectorEnv or a regular gym env (default), so it incorrectly assumes the env is a gym env.

The concat_vec_envs wrapper has an argument that dynamically adds  a wrapper so that stable baselines knows it is a vector env:
[code]

[2022-06-12 14:44] jjshoots commented on #723
@frankiiie does this solve your problem? Can it be closed?

[2022-06-12 15:55] frankiiie commented on #723
Hello! Yes, the additional line solves the issue. Thanks a lot for your help!

Also, just to quickly confirm my understanding of how things work, the line "pettingzoo_env_to_vec_env_v1(env)" alone takes care of the parameter sharing for CTDE, or do I need to add something else? This is assuming a scenario where all the agents use the same RL algorithm, have the same observation and action spaces a

[2022-06-12 17:25] jjshoots commented on #723
@frankiiie yes, essentially `pettingzoo_env_to_vec_env_v1(env)` converts an AEC environment into what Stable Baselines assumes is n set of environments. You do not need to do anything else to have parameter sharing.

[2022-06-12 17:52] frankiiie commented on #723
Got it. Thank you!

[2022-06-12 18:18] #723 closed

[2022-06-14 04:30] quantumiracle opened #727 "[Question] Any progress with Atari Surround environment"
Hi,

I was trying to solve some two-player Atari games for a while, and I created a [repo](https://github.com/quantumiracle/MARS) with some algorithms implemented, including Self-Play, Fictitious Self-Play and its neural network version, also the Policy Space Response Oracle with Double Oracle, based on DQN/PPO. But I found it hard to crack the Surround-v1 in Atari. Is there any suggestion for thi

[2022-06-14 09:13] jjshoots commented on #727
Hiya, so this isn't really a PZ issue, but rather an issue of how to make RL algorithms work better. There are generally a lot of things that can be done, though I don't know too many of them.

I recommend that you join the [official RL discord](https://discord.gg/JjuUACGn), and post your question there instead. :)

[2022-06-14 16:30] quantumiracle commented on #727
Hi, sorry if it's not a proper place to ask about this:)

[2022-06-14 20:31] jjshoots opened #729 "[Bug Report] Weird bug causing tests to fail"
The following failure was captured from a #728, it appears to be a very rare bug that never occurs during self play.

[code]

[2022-06-15 01:25] benblack769 commented on #727
I would also comment that learning Atari with self play is much more difficult than you might expect. In addition to all the single agent problems with Atari (sparse rewards, long histories, difficult observation space, etc), there are multiagent problems (non-stationarity, all agents get the same observation), and combinations of the two (neural network instability).

Numerous groups have tried a

[2022-06-15 02:50] quantumiracle commented on #727
Oh, interesting to see someone else's work on this problem. However, one thing to notice is that for multi-agent games (e.g. zero-sum games) the episode length may not be a proper metric to evaluate in the end. Ideally a policy close to Nash equilibrium should be achieved.

[2022-06-15 14:14] benblack769 commented on #727
@quantumiracle In general, absolutely. But it seems to be a decent approximation of success in surround specifically, as the screen fills up over time, and is way easier to measure than some sort of nash equilibira.

[2022-06-19 21:54] kir0ul commented on #719
@jjshoots (or anyone else), do you want me to actually add `make` commands to replace the calls in `release_test.sh`?

[2022-06-20 11:33] jjshoots commented on #719
@kir0ul If we can consolidate it such that the file is no longer a thing, that would be good yes. Though I don't think using `make` would be a good idea, we already have enough dependencies for tests as is and people are bound to have problems. That said, if `make` is deemed superior, I'm open to reviewing what it would look like and may consider using that instead.

[2022-06-21 04:38] kir0ul commented on #719
I don't know if it's superior, indeed it's a pretty old tool but it's one of the standard Linux tools. I guess I'll create a `Makefile` in a single commit so that you can test if you like it, and if not I'll just revert it.

[2022-06-22 04:27] kir0ul commented on #719
So it's in this commit: https://github.com/Farama-Foundation/PettingZoo/pull/731/commits/2ab0f6974bfb811e67fc63c215bf9897e883c741.
You can install it with:
- Linux: `sudo apt install make` (depends on the distribution/package manager)
- MacOS: `brew install make`, they say the command should be available as `gmake` instead of `make` (https://formulae.brew.sh/formula/make)
- Windows: `choco install

[2022-06-22 04:29] kir0ul commented on #719
I'll add the [previous comment](https://github.com/Farama-Foundation/PettingZoo/issues/719#issuecomment-1162624659) somewhere to the docs if we decide to keep it.

[2022-06-23 23:42] jjshoots opened #732 "[Proposal] Change MPE rendering to use Pygame instead of pyglet"
### Proposal

Currently MPE uses the outdated rendering engine Pyglet. It should be changed to Pygame as is done with the other environments.

[2022-06-24 11:41] #727 closed

[2022-06-24 11:55] #520 closed

[2022-06-24 12:52] WillDudley commented on #732
Will look into this.

[2022-06-29 10:09] Mxc666 opened #735 "[Bug Report] mario_bros_v3"
hi, when I import mario_bros_v3, a issue happened, but I don't know how to fix it, thanks for the response!

**Code**
[code]

**System Info**
 * ale-py: 0.7.5
 * atari-py: 0.2.9
 * multi-agent-ale-py: 0.1.11
 * OS: windows
 * Python version: 3.7.7

**Error**
  File "C:\Users\Administrator\anaconda3\envs\tensorflow\lib\site-packages\pettingzoo\atari\mario_bros_v3.py", line 1, in <module>
    from .

[2022-07-01 22:45] jjshoots commented on #735
Hi, have you installed the Atari ROMs from [AutoROM](https://pypi.org/project/AutoROM/)?

[2022-07-02 14:13] benblack769 commented on #735
@jjshoots This isn't a ROM issue, this is a installation issue of some sort. Has there been any work to support multi-agent ALE on windows? I have never tested this, I suspect it does not....

[2022-07-03 13:22] jjshoots commented on #735
@benblack769 No I don't believe anyone has touched multi-agent ALE in awhile, in that case I take this is a case of OP needing to run it on Linux/OSX based machine?

[2022-07-03 15:21] benblack769 commented on #735
Yeah, I'm pretty sure native windows support got dropped at some point. On windows, I have used the WSL pretty successfully.

[2022-07-03 15:35] Mxc666 commented on #735
@benblack769 @jjshoots I understand, thanks for your replies

[2022-07-04 10:58] #735 closed

[2022-07-06 18:24] WillDudley commented on #732
See PR at https://github.com/Farama-Foundation/PettingZoo/pull/738

[2022-07-09 12:30] #732 closed

[2022-07-21 06:11] QYHcrossover opened #740 "[Question] how does pettingzoo dealing with serve-time on envs like pong, tennis and so on."
### Question

Hello, I am practising rl methods on competive atari games like pong, tennis or double dunk using gym and pettingzoo. I founded that in some cases the agents for serving tend to slack off at the beginning of a run due to acting illegal actions, pausing the game until the end of max episode length.

I also noticed in such cases pettingzoo env may get the serves's time and punish this

[2022-07-21 21:27] benblack769 commented on #740
The relevant code is in this folder, https://github.com/Farama-Foundation/Multi-Agent-ALE/tree/master/src/games/supported

For example, in Pong, the code is here https://github.com/Farama-Foundation/Multi-Agent-ALE/blob/master/src/games/supported/Pong.cpp#L45

[2022-07-21 21:28] benblack769 commented on #729
Backgammon has had this problem for a long time.

[2022-07-26 13:52] spascience opened #742 "[Bug Report] [rllib] RLlib tutorial works with leduc_holdem but not with tictactoe?"
**bug description**
Using Ray[rllib] 1.13.0 and pettingzoo 1.19.0, I'm having difficulty training DQN on the TicTacToe env. The simplest reproduction I've found is ```rllib_leduc_holdem.py```, which runs fine; however, it will error when the environment is switched to TicTacToe:
[code]

I'm new to both PettingZoo and RLlib, so I'm happy to hear advice on how to move forward. Is there any relevant

[2022-07-30 18:35] #740 closed

[2022-07-30 18:54] albinakl opened #744 "[Bug Report] Environment initialization error"
I installed the latest 1.19.0 version of pettingzoo (pip and github cloning) to [colab](https://colab.research.google.com/drive/1Nt0umnAL4UkEge7yxCBoMoS2J_-3SABS?usp=sharing) and imported pong_v3 environment. However, when I tried to initialize the environment I got the following error:

env = pong_v3.env(num_players=2)

---------------------------------------------------------------------------
I

[2022-07-31 12:03] Tenich commented on #744
Hi! Please try installing ROMs for ATARI (using [AutoROM](https://github.com/Farama-Foundation/AutoROM/)) and check whether the error persists.

[2022-07-31 12:39] albinakl commented on #744
Thank you for your answer! I succeed in installation of 1.18.1 version of PettingZoo with working atari in colab. Here what I runned:

!pip install autorom[accept-rom-license]
!pip install pettingzoo[atari]==1.18.1
!AutoROM --accept-license

from pettingzoo.atari import pong_v3
import matplotlib.pyplot as plt
env = pong_v3.env(num_players=2)
env.reset()

screen = env.render(mode='rgb_array')
plt.i

[2022-07-31 12:39] #744 closed

[2022-08-01 12:57] manu-hoffmann opened #746 "[Bug Report] Broken atari environment path"
Hi!

I ran into the [same issue](https://github.com/Farama-Foundation/PettingZoo/issues/744) with PettingZoo version 1.19.
Found the issue to be a broken path in file `pettingzoo/atari/pong/pong.py`.

I fixed the issue by replacing line 37:

`parent_file = glob(os.path.join(os.path.dirname(os.path.dirname(__file__)), name + "*.py"))`

I don't think this is the best solution, but did the job for me

[2022-08-01 13:20] jjshoots commented on #746
Hi @manu-hoffmann, yes this is a currently known issue in PettingZoo which is why there has not been a new release yet. The developer who's supposed to fix this is kinda busy, if you would be so inclined, could you make a PR fixing this?

[2022-08-01 13:42] manu-hoffmann commented on #746
Hi @jjshoots,

I just opened a PR for fixing this issue.

[2022-08-01 21:16] kir0ul commented on #719
Fixed in https://github.com/Farama-Foundation/PettingZoo/pull/731.

[2022-08-01 21:16] #719 closed

[2022-08-02 20:44] Rohan138 commented on #742
`tictactoe_v3.env().possible_agents` is `['player_1', 'player_2']`. Changing it to:
`
        "policies": {
            "player_1": (None, obs_space, act_space, {}),
            "player_2": (None, obs_space, act_space, {}),
        },
`
works correctly.

[2022-08-03 07:11] #746 closed

[2022-08-03 08:44] jjshoots commented on #742
@spascience I think Rohan has made a PR fixing these tutorials if you're interested, it'll probably be a couple days before they're merged.

[2022-08-03 22:03] Rohan138 commented on #742
(Just to clarify, my PR is unrelated to this issue-the PR is RLlib updates, the bug was just incorrect agent ids)

[2022-08-03 22:41] jjshoots commented on #742
@Rohan138 Ah ok, my bad.

[2022-08-04 14:00] aenneas opened #752 "[Question] Where is the max_cycles coming from? Not in OpenAI repo."
### Question
The documentation for MPE says:

 "The game terminates after the number of cycles specified by the max_cycles environment argument is executed. The default for all environments is 25 cycles, as in the original OpenAI source code."

 However, I could not find this anywhere in the original OpenAI source code. There is no fixed horizon, not even an argument. In fact, in the issues, Ryan

[2022-08-05 12:03] #742 closed

[2022-08-05 12:08] jjshoots commented on #752
Hi, the max cycles for each environment is defined in the environment arguments, eg: [here](https://github.com/Farama-Foundation/PettingZoo/blob/master/pettingzoo/mpe/simple_crypto/simple_crypto.py#L19) for simple_crypto and [here](https://github.com/Farama-Foundation/PettingZoo/blob/master/pettingzoo/mpe/simple_reference/simple_reference.py#L12) for simple_reference.

In [here](https://github.com

[2022-08-05 12:41] aenneas commented on #752
Hi,

This is not what I am referring to. I know where max_cycles are used and defined in the PettingZoo.

If you look at the documentation here: https://www.pettingzoo.ml/mpe the claim is that:
"The game terminates after the number of cycles specified by the max_cycles environment argument is executed. The default for all environments is 25 cycles, **as in the original OpenAI source code.**"

Howe

[2022-08-05 12:51] jjshoots commented on #752
Ah, I see what you mean, there is definitely some disconnect between how up to date the documentation is versus the codebase at hand, and a project for us to automate it to prevent these things in the future is ongoing. That said, if you want the behaviour of letting the environment run to infinite, you could simply set `max_cycles=np.inf` in the environment arguments, and that would achieve the s

[2022-08-05 12:53] aenneas commented on #752
Hi,

Thanks, setting max_cycles=np.inf is not an issue. What I would like to know is where the claim **"as in the original OpenAI source code"** is coming from. This would be useful for me to replicate their results since the details of episode length are left out in the paper.

[2022-08-05 13:37] jjshoots commented on #752
Again, I reiterate, this library is not affiliated with OpenAI and the developers of that library, the work here is only a derivative of their work. As to your question, I do not have an immediate answer as I wasn't the main developer nor was I around to supervise the PR that added those envs in. You'll probably have more luck asking the authors of the paper themselves.

That said, if you find tha

[2022-08-05 13:43] jjshoots commented on #752
Checking the git blame, it seems that the particular line in the docs is written by @benblack769, so perhaps he would have an answer to your question.

[2022-08-05 13:49] aenneas commented on #752
I am asking where does that claim originate from, because I cannot find anything to back it up. This has nothing to do with the authors of the paper, it also has nothing to do with whether the library is affiliated to OpenAI or not. It is a very simple question: where does this claim in the **PettingZoo** documentation come from? I am also not directing my question to you specifically, I am asking

[2022-08-06 22:07] benblack769 commented on #752
@aenneas This came from the MADDPG paper, which in my understanding was developed concurrently with MPE, by the same authors.

You can see the number 25 [here](https://github.com/openai/maddpg#environment-options) and [here](https://github.com/openai/maddpg/blob/master/experiments/train.py#L15). You can also see reference to this forced reset of the environment in the `max-episode-length` of Algor

[2022-08-06 22:32] aenneas commented on #752
@benblack769  Aaah I see, thanks a lot! Yes this makes sense, I am fairly confident in this case that they used 25. The performance they get seems in line with a good policy executed with max-episode-length 25 on average. I was looking for it in the original MPE repo, then got confused. Still cannot figure out how it is used in the original MPE repo since they don't have it anywhere in their code,

[2022-08-06 22:32] #752 closed

[2022-08-08 11:47] engyasin commented on #710
I have the same original issue but on windows,
with 1 cpu, it worked but with very slow training. After I comment the training line it rendered correctly

[2022-08-08 11:59] jjshoots commented on #710
Hi @engyasin

Unfortunately, at the current moment, the ProcConcatVecEnv is a complicated wrapper that is designed and intended to be used on Linux machines only. It being slow is probably a consequence of it working only with 1 cpu thread. Although this is not something we're looking to solve immediately, its fix is definitely somewhere on the roadmap. If, however, you're able to figure out ways

[2022-08-09 06:15] chwflhs opened #755 "[Question] Possible bug in '_was_done_step' function in utils.AECEnv"
### Question

location:
line 228 to line 237 in `_was_done_step` function in [utils/env.py](https://github.com/Farama-Foundation/PettingZoo/blob/master/pettingzoo/utils/env.py).

I found this when I am reading the code but I have not tested it yet. It seems a bug from a point of logic:
The `self._skip_agent_selection` stores a `done = true` agent(which was dead and deleted).  Then how could it sto

[2022-08-09 17:26] jjshoots commented on #755
@benblack769 I believe this is your field.

[2022-08-10 00:05] chwflhs commented on #755
I provide my solution to this problem for discussion. Two situations require consideration:
1. If len(_dones_order)== len(self.agents), in this case, there is no "live" agent so there is no need to change self.agent_selection
2. Otherwise, a random "live" agent could be chosen from the "undone set" for the self._skip_agent_selection.

Hence, the fix of the code is as follows: (only two lines (231-

[2022-08-10 00:56] benblack769 commented on #755
This is an unfortunately confusing bit of logic, built essentially to remove some code duplication required interally to keep equivalence with the parallel env model. While I don't think there are any bugs here, I have been wrong before.

Also note that these are all internal helper functions to try to reduce code duplication that we found while developing new environments, especially the environm

[2022-08-10 02:17] chwflhs commented on #755
@benblack769 thanks for the reply, the key issue is how to set the agent_indicator (the pointer).

The first thing is the agent_indicator should point to the undone set, which is A or C in the case.

Second,  if A is already selected before B, then the agent_indicator should point to C instead of A ?

#Since A, B, C, and D forms a cycled queue, the visiting sequence may have an influence. Of cours

[2022-08-11 06:54] hellofinch opened #756 "[Bug Report] cannot import name 'Renderer' from 'magent'"
If you are submitting a bug report, please fill in the following details and use the tag [bug].

**Describe the bug**
I try to change the environment based on this [script](https://github.com/ray-project/ray/blob/ray-1.13.0/rllib/examples/multi_agent_independent_learning.py). The origin script used waterworld which has bug so I change it to `magent.battle`. The output show below:
[code]
**Code exa

[2022-08-11 10:13] minarth opened #757 "[Question] installable versions for tutorials"
### Question

Hello, I am trying to follow your tutorial `tutorials/13_lines.py` and I am unable to figure out what versions of libraries should I install.  Since current versions of `pettingzoo`, `supersuit` and `stable-baselines3` has conflicting gym versions. Can anyone provide working `requirements.txt` for the tutorials?

Thank you :)

[2022-08-11 13:27] jjshoots commented on #757
The latest PZ and SS versions should work with the latest SB3 version. You'll receive a warning about gym being incompatible, but things should otherwise work fine.

[2022-08-12 12:11] #757 closed

[2022-08-12 12:12] jjshoots commented on #756
@dsctt could you have a look at this?

[2022-08-12 16:01] benblack769 commented on #755
@chwflhs So I think it is generally preferable that the done agents should be visited before the other agents, though it is not technically, required, I think. Otherwise, it is really up to the designer of the algorithm.

With this utility, the assumption is that the base implementation already has an idea of whether A or C should go first. It captures that preference by saving the env.agent_indic

[2022-08-12 21:20] jjshoots opened #759 "[Proposal] Port All Environments to Parallel Env"
According to Ben, in the near future during the wrappers revamp, it'd be better for us to port all environments to parallel env, and then use the parallel_to_aec wrapper.

[2022-08-13 01:08] chwflhs commented on #755
ok, thanks for your explanation.

[2022-08-13 16:04] #755 closed

[2022-08-13 18:59] benblack769 commented on #756
What is the magent package version?

[2022-08-13 19:09] benblack769 commented on #710
You can try to make the original error go away by putting the code in an `if __name__ == "__main__"` guard, as the error suggests:

This would look like this:

[code]

[2022-08-13 19:10] benblack769 commented on #710
^ have not tested this, again, we don't have official windows support, I haven't figured out how to install all the dependencies on windows.

[2022-08-14 16:36] engyasin commented on #710
Great,
Looks like its training now. (very slow in cpu)

[2022-08-14 18:22] jjshoots commented on #710
Thanks @benblack769 :)

[2022-08-14 18:22] #710 closed

[2022-08-16 02:10] hellofinch commented on #756
@benblack769 How can I know the version? I try `pettingzoo.magent.__version__` but it failed.

[2022-08-16 11:11] jjshoots commented on #756
@hellofinch magent is a standalone package on pypi, try `pip3 show magent` in the terminal.

[2022-08-16 21:34] Faris-Tulbah commented on #756
I'm facing this same issue when I try running:

!pip install pettingzoo[magnet]
!pip install magnet
from pettingzoo.magent import tiger_deer_v4

I get:

ImportError: cannot import name 'Renderer' from 'magent'

[2022-08-19 12:32] jjshoots opened #769 "[Progress] Truncation/Termination/Rendering API Update"
# About

As part of the Gym update to 0.25, the following changes have been made:

1. `done` -> `termination` and `truncation`
    - The singular `done` signal has been changed to a `termination` and `truncation` signal, where `termination` dictates that the environment has ended due to meeting certain conditions, and `truncation` dictates that the environment has ended due to exceeding the time/f

[2022-08-19 19:22] spascience commented on #742
Thanks! Changing line ~96 as you described worked for me.

[2022-08-20 18:28] benblack769 commented on #756
0.1.13 is a very old version of MAgent. You should be able to upgrade your version to the most recent version with `pip install magent --upgrade` or `pip install magent==0.2.3`

Also watch out, if you installed the original, unmaintained magent package here https://github.com/geek-ai/MAgent, then you will need to manually uninstall it, which might be tricky.

[2022-08-21 03:27] pmy0721 opened #773 "[Question] Where can I find the best solution of th env in the PettingZoo?"
Where can I find the best solution of th env in the PettingZoo?
Just like the Leaderboard of gym.

[2022-08-21 07:08] hellofinch commented on #756
I upgrade the`magent`.
[code]
And I try to run the script again and another error comes out.
[code]

[2022-08-22 12:00] jjshoots commented on #773
@pmy0721 There currently is None, one reason for this is that PettingZoo is not a completely mature library yet, and the environments are still subject to minor changes. Having a leaderboard at this time would not be an ideal thing to do froma reproducibility standpoint.

[2022-08-22 15:29] #773 closed

[2022-08-22 15:52] #722 closed

[2022-08-22 15:52] #729 closed

[2022-08-31 12:49] pseudo-rnd-thoughts commented on #686
@jjshoots @virgilt What is the status of this issue?

[2022-09-02 21:23] cciliber opened #778 "[Question] Problem when rendering MPE environment headlessly"
### Question

Hi, I am running some PettingZoo environments on a remote machine (running Ubuntu) that has no display. I have no issues when rendering (to e.g. create a gif of a run of a trained policy) for environments such as the recommended `pistonball`, but when I switch to e.g. `simple_tag_v2`, I get the error  `pygame.error: No available video device`

Do you have any advice?

[2022-09-04 20:46] jjshoots commented on #778
Hiya, thanks for the report, I would try this:

[code]

taken from [here](https://stackoverflow.com/questions/15933493/pygame-error-no-available-video-device)

[2022-09-05 08:01] cciliber commented on #778
Thanks for the reply! I had indeed stumbled upon that stackoverflow post but unfortunately, it does not solve the issue: pygame simply renders to nothing: the resulting rgb vector is a black image for every frame.

I tried using Xvfb to create a virtual X frame grabber but I am not that familiar with it to be able to make it work. : (

Any idea why it does work with other environments?

[2022-09-05 11:37] jjshoots commented on #778
@cciliber, can you comment on whether render itself works on your local machine (with a working monitor)?

[2022-09-05 15:29] cciliber commented on #778
OK. I'll give it a go and get back to you.

[2022-09-12 04:36] jjshoots commented on #778
Any progress with this? @cciliber

[2022-09-12 12:28] cciliber commented on #778
Hi @jjshoots sorry for the delay. Yes the problem seems to persist also on a machine with a working monitor.

Any suggestion?

[2022-09-12 18:09] jjshoots commented on #778
Hi @cciliber, I'm getting some people to look at this now, do you think you could put your code for a minimal reproducible implementation here?

[2022-09-13 13:00] cciliber commented on #778
Sure, here it is:

[code]

Admittedly it's not an MWE. Let me know if you need me to write one without model training.

[2022-09-14 07:23] Himanshu1231 opened #783 "'numpy.random._generator.Generator' object has no attribute 'random_integers'"
Getting this error while working with the following code:
**Code:**
from pettingzoo.butterfly import pistonball_v6
env = pistonball_v6.env()
env.reset()
for agent in env.agent_iter():
    observation, reward, done, info = env.last()
    action = policy(observation)
    env.step(action)

**Error:**
---------------------------------------------------------------------------
AttributeError

[2022-09-15 11:54] jjshoots commented on #783
@pseudo-rnd-thoughts mind having a look?

[2022-09-15 12:21] pseudo-rnd-thoughts commented on #783
That numpy function was deprecated and wouldn't be surprised if the function was finally removed. I think petting zoo needs to update to integers however the random number generator in petting zoo is not consistent

[2022-09-15 14:39] FilipinoGambino commented on #778
Hello @cciliber, thanks for the code. I'll take a look at it this weekend.

[2022-09-15 18:11] jjshoots commented on #783
@Himanshu1231 I could solve this but I am without computer access for the next 2-3 days.

[2022-09-15 23:39] 1860yk commented on #783
have the same issue.

[2022-09-16 00:12] pseudo-rnd-thoughts commented on #783
This has already been fixed in https://github.com/Farama-Foundation/PettingZoo/pull/777
I guess we just need to make a new release with it included @jjshoots

[2022-09-16 10:22] shaktisd opened #784 "License not updated in setup.py"
Please update your license in setup.py , as it is not visible in. Pypi.org

[2022-09-16 10:37] jjshoots commented on #784
Fixed it [here](https://github.com/Farama-Foundation/PettingZoo/blob/master/setup.py#L74), thanks for the notice!

[2022-09-16 10:37] #784 closed

[2022-09-17 04:23] #783 closed

[2022-09-19 18:31] WillDudley commented on #778
@FilipinoGambino Any updates on this?

[2022-09-21 13:03] jjshoots commented on #778
Marking as solved, feel free to reopen if the issue persists. Thanks everyone for the help!

[2022-09-21 13:03] #778 closed

[2022-09-23 11:22] WillDudley opened #799 "[Proposal] Time limit wrapper"
### Proposal

Add a truncation/time limit wrapper rather than handling internally.

### Motivation

Whilst the current way things are work perfectly fine,  Gymnasium has a time limit wrapper, https://github.com/Farama-Foundation/Gymnasium/blob/main/gymnasium/wrappers/time_limit.py. This has advantages:
- Easier to understand
- _elapsed_steps as a common attribute, incase users want to easily acces

[2022-09-25 03:12] 5cat opened #801 "[Bug Report] random_demo broke after the termination/truncation update"
**Describe the bug**
the `random_demo` raise an error due to how the env.last API changed.
[code]

**Code example**
[code]

**System Info**
Describe the characteristic of your environment:
 * Describe how Gym was installed (pip, docker, source, ...): pip
 * Operating system: linux
 * Python version: 3.9-3.10

### Checklist

- [X] I have checked that there is no similar [issue](https://github.com/F

[2022-09-25 11:55] pseudo-rnd-thoughts opened #803 "[Proposal] A unified multi-agent environment API"
### Proposal

A new core API for PettingZoo (PZ) that is very similar to the Gym core API with several key advantages. However, this would require a large rewrite of the whole code base

[code]

### Motivation

I have used Gym for 3/4 years and have recently been helping maintain it for the last 5/6 months so believe I have a strong understanding of that project.

However, moving across to use PZ

[2022-09-25 18:00] #801 closed

[2022-09-26 09:27] WillDudley commented on #803
SGTM.

So, the only difference between a regular env and a multi-agent env would be that in `step()` and `reset()`, what's returned is a dict of all agent obs, truncs, terms, infos?

Wondering what the process would fully look like if one wanted to:
- convert a gym env to a PZ env
- convert a PZ env to a gym env

[2022-09-26 10:03] WillDudley commented on #769
@jjshoots This can be closed? Everything's done right?

[2022-09-26 10:05] WillDudley commented on #799
This issue is probably a subset of https://github.com/Farama-Foundation/PettingZoo/issues/803

[2022-09-26 10:05] WillDudley commented on #759
This issue is probably a subset of https://github.com/Farama-Foundation/PettingZoo/issues/803

[2022-09-26 10:05] WillDudley commented on #685
This issue is probably a subset of https://github.com/Farama-Foundation/PettingZoo/issues/803

[2022-09-26 13:40] pseudo-rnd-thoughts commented on #803
For converting Gym to PZ and PZ to Gym should be possible with wrappers that make minimal changes.

To using the gym wrappers with the proposed api, it is a smaller subgroup than I originally thought with just all of the observation based lambda wrappers. However this is fairly large number of wrappers with the rest needing small updates.

[2022-09-26 19:56] minarth commented on #757
It would really be nice to have the `requirements.txt` with the tutorials so it is easy to navigate. Since I don't get warning, but error when installing. Also, the latest versions suffer from https://github.com/Farama-Foundation/SuperSuit/pull/165 where there is not enough clear info about what to do to solve it.  :(

[2022-09-26 21:30] WillDudley commented on #757
Hey @minarth , thanks for your interest in PZ. We're currently finalising a big update, and hope to update/improve the tutorials after.

Tomorrow (when I'm at my desktop) I'll get a minimal working repo of 13_lines spun up and will shoot it over your way :)

[2022-09-27 20:35] WillDudley commented on #757
Unfortunately to get 13_lines.py working, SB3 needs to be updated to reflect the new overhaul we're having.

Getting it working using past versions of pz, ss and sb3 is unfortunately pretty tenuous. If you have any specific questions I'll try my best to help though.

[2022-09-30 19:15] benblack769 commented on #803
At one point I thought about termination/truncation for multi-agent and determined that some really powerful simplicities and type-enforced validation emerge if you assert that:

* "termination" is *always* agent specific (all agents terminating does not imply and environment terminates), and
* "truncation" is *always* global to the environment (agents will never truncate individually).

Then, the

[2022-09-30 19:54] minarth commented on #757
@WillDudley thanks for trying. Looking forward to the big update and working setup : )

[2022-09-30 20:03] jjshoots commented on #759
With PZ2, this will likely not be needed.

[2022-09-30 20:03] #759 closed

[2022-09-30 20:55] WillDudley commented on #803
Whilst I'm not fully clued-in to all the advantages of separating `done` into `terminate` and `truncate`, I thought it allowed for more flexible algorithm design.

If it is indeed important for algorithms to have distinctions between the two, then having agents truncate at the end of an episode instead of terminate would be important. Otherwise, it wouldn't be trivial for a user coming from applyi

[2022-09-30 21:05] jjshoots commented on #803
I also thought of having only an env-specific truncation flag as opposed to agent-specific, but my logic as to why I did it that way was this:

Imagine we have a perpetually long environment (like the RuneScape game), and the environment can accomodate many agents. Now assume that our environment has an interaction budget for each agent (or each agent that is connected to it). In this scenario, th

[2022-09-30 23:49] benblack769 commented on #803
@jjshoots Your Runescape thought experiment was also my original inspiration (well, NeuralMMO).

@WillDudley @jjshoots I would reiterate my previous argument and add the following more theoretical analysis:

* There have to be at least one completely valid game state in the future for the value of an agent in a truncated state. Otherwise, this would make the value of that state ill-defined or at l

[2022-10-01 09:06] jjshoots commented on #803
Thinking about it more, what @benblack769 has mentioned actually makes a lot of sense. A lot of funky race condition things happen with individual truncation flags.

[2022-10-01 10:51] pseudo-rnd-thoughts commented on #803
I agree with @benblack769 and @jjshoots that the truncation flag can be a bool values not a dictionary.
My only issue is implementing truncation in turn based (AECEnv) games, here we need each agent to individually take an action and after a turn they all truncate but maybe that is possible. More theoretical thought is required I think.

Secondly, @benblack769  I don't think we can remove the `act

[2022-10-01 11:53] WillDudley commented on #757
@minarth

Tianshou appears to work but I haven't looked into it in much detail
https://github.com/WillDudley/Tianshou-MARL-Examples

[2022-10-01 14:33] benblack769 commented on #803
@pseudo-rnd-thoughts The `active` parameter can be replaced by the truncation bool. When the environment is truncated, we know it is time to reset.

[2022-10-01 14:43] benblack769 commented on #803
As for AEC games, we don't have to deal with this annoying "return the last observation/reward" stuff after a truncation, only after termination. In truncation, unlike termination, you can take your last action fully expecting to take another action, receiving another reward, observation, etc, you just never actually get to see it, because the environment has just stopped.

[code]

If you combine

[2022-10-01 14:46] benblack769 commented on #803
^ Note that in a typical parallel environment, this all implies that the environment will usually terminate all the agents, and also truncate all in the same step. If you think that this will be super error prone to use, then I am open to that, but I get the feeling that people will quickly learn how to handle this case, as it is very common.

The alternative, where you have to consider `active`,

[2022-10-02 16:00] #769 closed

[2022-10-03 10:00] pseudo-rnd-thoughts commented on #803
@benblack769 I think we understand termination and truncation differently.
At least in Gym, we use `termination` to refer to an agent reaching a terminating state (both success or fail states) given conditions within the environment.
While truncation refers to if an episode will end prematurely due to a condition outside of the environment's terminating conditions. This is almost solely due to a t

[2022-10-05 22:05] RedTachyon commented on #803
Can you describe what exactly is the difference between this API and the current parallel API?

Also, what exactly is the point of `Container` as opposed to `Dict`? My understanding of the code is that it only requires a subset of agents to be present, is that right? I think it would be helpful to position this proposal in the context of what is already present, because the devil lies in the detai

[2022-10-06 12:56] pseudo-rnd-thoughts commented on #803
The difference in API is primarily in the code, my aim is the support all multi-agent environments (that I can think of) with a single environment specification that is as similar as possible to Gym's specification as we can.

The point of the `Container` space is that I want to keep the Gym assumption that all observations are contained within the observation space. In environments with variable

[2022-10-06 13:03] benblack769 commented on #803
@pseudo-rnd-thoughts Right, this rethinking/overloading of the "truncation" as "environment done" is certainly a divergence from gym's conception of it.   Perhaps being different than gym isn't ideal, but to me, the alternative of having 3 flags to worry about when reasoning about done-ness is worse.  A way to mitigate the situation is to just use a different naming scheme for this flag, and not c

[2022-10-06 13:44] pseudo-rnd-thoughts commented on #803
Thanks for that. Yes, you are correct. If we make the assumption that all agents in the last observation are truncated then we can have truncated as a boolean variable.

As for `terminated` / `active`, how should this be handled?
I think there are two problems
1. How to handle when the environment not just individual agents?
2. How to iterate through the environment? With Gym done is a clear varia

[2022-10-06 14:59] tomkouwenhoven opened #812 "13_lines.py tutorial not working due to " AttributeError: 'ProcConcatVec' object has no attribute 'pipes' ""
I would love some help with the following problem:

**Description**
After installing PettingZoo, Gym, stable-baselines3, and SuperSuit I was not able to run the 13_lines.py example of the pistonball_v6.parallel_env. I have copied the code from commit [24b41bc](https://github.com/Farama-Foundation/PettingZoo/commit/24b41bcb37790a93c761060fd530d9f9115f3021) and received an attribute error on ProcCon

[2022-10-06 16:46] #812 closed

[2022-10-07 08:31] tomkouwenhoven commented on #812
Thanks a lot, I am looking forward to the moment when the tutorials are revamped :-)

[2022-10-07 09:34] WillDudley opened #813 "[Proposal] Add tutorials to CI"
Update:

I've added CI for the CleanRL tutorial here: https://github.com/Farama-Foundation/PettingZoo/pull/831

Tianshou and Ray tutorials still need to be debugged as they fail for import reasons.

[2022-10-07 15:21] WillDudley opened #815 "[Proposal] docs: gym -> gymnasium"
### Proposal

A clear and concise description of the proposal.

### Motivation

Please outline the motivation for the proposal.
Is your feature request related to a problem? e.g.,"I'm always frustrated when [...]".
If this is related to another GitHub issue, please link here too.

### Pitch

A clear and concise description of what you want to happen.

### Alternatives

A clear and concise descript

[2022-10-08 00:00] #815 closed

[2022-10-08 11:59] benblack769 commented on #803
@pseudo-rnd-thoughts In my mind, `truncated` would be a bool, avoiding the problem.

[2022-10-08 13:56] jjshoots opened #818 "[Bug Report] Waterworld Bugs"
### List of Bugs

- [ ] action_space currently only has a default range of -0.01 to 0.01, I feel like this is a problem. Of course, usage of a normalizing wrapper can work, but IMHO the default environment should not have an action space this narrow to begin with.
- [ ] I think the action magnitude is too small in general, the agents tend to not be able to move out of the way in time. I think incr

[2022-10-09 18:04] WillDudley opened #820 "[Proposal] Action masking in docs"
In PZ env creation, there is a conventional way to apply action masking. I think it's only done in AECEnvs (eg. RLCard) but can easily be applied to ParallelEnvs for someone proficient in Gymnasium/PZ.

It will be a common feature in custom envs so the conventional way to implement it should be explained.

The cleanrl (and potentially other) tutorials would need to be extended to account for this.

[2022-10-10 09:46] WillDudley commented on #803
This discussion has got quite deep, which is great, but I'm struggling to follow it. But, I very much agree with the motivation to make the API as similar to Gymnasium as possible, and especially combining AECEnv and ParallelEnv into one. Personally, coming from gym, AECEnv has always been more difficult to grasp than ParallelEnv.

I have some questions to get me more on the same page:
Are we addi

[2022-10-10 11:51] pseudo-rnd-thoughts commented on #803
@WillDudley No worries, I think the easier way is to make an experimental version and work out some of these details when programming
1. I think so, we should experiment with it and see if it works as a feature
2. No, I think that Ben is right that when `truncated` is `true` we know all of the agents if the `obs` have `truncated`
3. The gym dictionary space requires the observation to contain all

[2022-10-10 13:16] jjshoots commented on #803
AFAICT the only reason we need a 'space' for all agents is so we can do `.sample()` to get all agents' observation/actions at the same time right? Imho this is a pretty rare use case, and I quite liked the dictionary style approach of the parallel env, where all the rewards, observations, terminations are handled as dicts. From this paradigm, if I were a new user, having the action space and obser

[2022-10-10 13:28] WillDudley commented on #803
@pseudo-rnd-thoughts

3. Is it not possible to add a flag to the dictionary space to allow for agents dying? In my opinion that would be simpler for users to understand?

[2022-10-10 14:19] WillDudley commented on #803
It seems like @jjshoots and I commented the same idea at the same time, I'm similarly yet to be convinced on `Container`, but open to being convinced.

What's going on with https://github.com/openai/gym/pull/2958 btw? Does the outcome of that affect this proposal?

[2022-10-10 17:20] jjshoots commented on #803
That's primarily my issue with it, it's just a new space for a special subset of environments. Now there will be Dict spaces and Container spaces that are both valid for PZ, which is a problem, obfuscating easy of implementation for someone new to the API. And IIRC, the only environment with variable number of agents during runtime is KAZ (for now).

I'd honestly try harder to use existing tools o

[2022-10-10 17:46] WillDudley commented on #803
@pseudo-rnd-thoughts Maybe you could outline how ugly the refactor if we were to go through with refactoring the dict space?

[2022-10-11 12:50] pseudo-rnd-thoughts commented on #803
@jjshoots That is a fair criticism, I thought there were more environments that had this issue

@WillDudley It would be possible to change the `Dict`, it just feels like to me having two spaces in one and @jjshoots criticism would still apply. In short, we would need to a new attribute, `optional_subspaces: bool` that would modify the `sample`, `contains` and `seed` functions to do different thing

[2022-10-11 17:25] pseudo-rnd-thoughts commented on #803
This would violate the assumption as contains would be false.

I think we are spending too much time focusing on a more minor part of the proposal that can be added or removed in the future.

Therefore in the meantime, @WillDudley and I are going to try and make a working version in a private github repo

[2022-10-12 16:57] arjun-kg opened #824 "[Bug Report] Reset definition retains `return_info`"
**Describe the bug**
I am using a code that uses `utils/conversions` and I get a `TypeError: reset() got an unexpected keyword argument 'return_info'` error. I think from gymnasium 0.26 onwards this argument was supposed to be removed?

The problem seems to be this:
 https://github.com/Farama-Foundation/PettingZoo/blob/b8d9c4bdd399601c55a5a3f241b833433bb9e2d3/pettingzoo/utils/conversions.py#L125

[2022-10-13 10:25] WillDudley commented on #824
Thank you for spotting this. Would you be able to add that PR, along with a depreciation checker (akin to https://github.com/Farama-Foundation/Gymnasium/blob/5674a52d4c4d7cca9f169db561622b8d3e49bd65/gymnasium/utils/env_checker.py )?

[2022-10-13 10:27] #799 closed

[2022-10-13 10:30] #685 closed

[2022-10-13 10:33] WillDudley commented on #686
@jjshoots Is this issue still relevant?

[2022-10-13 10:39] WillDudley commented on #691
@jjshoots Update on this?

[2022-10-13 10:45] jjshoots commented on #691
I believe this was done in #737.

[2022-10-13 10:45] WillDudley commented on #756
magent is depreciated

[2022-10-13 10:45] #756 closed

[2022-10-13 10:46] jjshoots commented on #686
AFAIK this is always relevant, @reginald-mclean is on it if I'm not wrong.

[2022-10-13 10:54] WillDudley commented on #686
@reginald-mclean Do you have an update?

[2022-10-13 11:03] jjshoots commented on #813
How do we want to do this? Have a script that runs all the files in the tutorials folder? Also I think the readme in the tutorials can be deleted.

[2022-10-13 11:16] WillDudley commented on #813
Yeah I'm thinking that. Also a script to check that PZ is the latest PyPi version.

@mgoulao ideally the docs, including the tutorials, would be version controlled, similar to https://numpy.org/doc/stable/ . Is this do-able?

[2022-10-13 17:56] SamueleBolotta opened #826 "[Bug Report] Cannot get the shape of the action space in the parallel_env"
**Describe the bug**
While getting the shape of the observation space in the parallel env is easy, the same is not true for the action space.

**Code example**
`env.observation_space(env.possible_agents[0]).shape` gives as an output the shape of the obs space, whereas `env.action_space(env.possible_agents[0]).shape` doesn't.

**System Info**
Describe the characteristic of your environment:
 * Pip

[2022-10-13 19:55] AdityaKapoor74 opened #827 "MAgent"
https://pettingzoo.farama.org/environments/magent/ is a broken link now, I was able to access it a few hours ago...

[2022-10-13 20:04] AdityaKapoor74 commented on #827
I suggest that such major changes should be done on a separate branch. I was using the MAgent codebase for my research, and this seems like a bummer to me.

[2022-10-14 07:31] WillDudley commented on #827
Hey @AdityaKapoor74 , apologies for the frustration.

MAgent is a large, growing project and, as per https://github.com/Farama-Foundation/PettingZoo/pull/823, it has been moved to https://github.com/Farama-Foundation/MAgent2.

Things are having to move unusually quickly this week as we prepare for an official release of Farama. Rest assured we will have versioned documentation in the near future.

[2022-10-14 08:33] WillDudley opened #828 "[Proposal] Classic env GUI upgrade"
We wish to upgrade the rendering of some of the classic environments to come in line with our standards (see https://pettingzoo.farama.org/environments/classic/).

- [x] Gin Rummy should be rendered in the same style as Texas Holdem
- [x] Leduc Holdem should be rendered in the same style as Texas Holdem
- [ ] Mahjong should be rendered using https://gamblemountain.itch.io/riichi-asset
- [x] Chess

[2022-10-15 22:31] WillDudley opened #830 "[Proposal] Parallel env test - more detailed printing error messages"

[2022-10-16 22:16] WillDudley commented on #813
https://github.com/WillDudley/PettingZoo/pull/1

[2022-10-16 22:22] WillDudley commented on #818
@jjshoots Are you on this or does this need to be delegated? Is it high-priority?

[2022-10-17 09:49] jjshoots commented on #818
@BolunDai0216 said he'd look at it

[2022-10-20 10:20] WillDudley opened #834 "[Proposal] LICENSE.txt -> LICENSE"

[2022-10-23 13:21] #818 closed

[2022-10-29 00:42] jjshoots opened #840 "[Bug Report] Waterworld random freezes"
**Describe the bug**
Not quite sure what it is yet, but when waterworld is continuously stepped and reset, sometimes it just freezes.

**Code example**
[code]

Managed to replicate it on 3 different machines, my guess is that there's a rogue `while` loop somewhere according to the diagnosis below.

The logs of the run are [here](https://wandb.ai/jjshoots/waterworld_sweep/sweeps/24dg055u)

Notice b

[2022-10-29 12:20] #840 closed

[2022-10-31 09:03] tobirohrer opened #844 "[Proposal] Use GitHub Issue Forms"
### Proposal

I propose to use [GitHub Issue Forms](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms) when an issue is created in this repo

### Motivation

This facilitates the proper filling in of information when an issue is created. Information can be marked as required. I cr

[2022-10-31 10:44] WillDudley opened #845 "gymnasium.logger.WARN( TypeError: 'int' object is not callable"
**Describe the bug**
cooperativepong's render function has the following check:
[code]
This doesn't actually hit the message as `gymnasium.logger.WARN` is an `int` and thus can't be used.

**Code example**
[code]

**stack trace**
[code]

**System Info**
Describe the characteristic of your environment:
 * Describe how Gymnasium was installed (pip, docker, source, ...): `pip install pettingzoo[butte

[2022-10-31 10:59] #845 closed

[2022-10-31 11:24] WillDudley commented on #844
Looks very cool! A PR would be much appreciated :)

[2022-11-01 10:32] #813 closed

[2022-11-01 14:46] rohin-dasari opened #849 "[Bug Report] Parallel environment raises error when created with `gym.make`"
### Describe the bug

When using `gym.make` to create a environment, gym uses a `PassiveEnvChecker` which makes the assertion that the `action_space` attribute of the environment object must inherit from `gym.spaces.Space`. In the parallel petting zoo environment, however, `action_space` is a method, which takes in a agent id as a parameter and returns the action space for that specific agent: htt

[2022-11-01 14:49] rohin-dasari commented on #849
Update: I was able to fix this by downgrading my version of gym to 0.21.0 (which doesn't have the environment checking feature). Maybe it still deserves to be an issue though since the `setup.py` file on the master branch of the pettingzoo repo explicity mentions that is requires a version of gym greater than 0.26.0.
https://github.com/Farama-Foundation/PettingZoo/blob/50579c60f35c12a5dcb29fb2279a

[2022-11-01 16:44] WillDudley commented on #849
Hi @rohin-dasari , please may you share your code, specifically what environment you're using? It seems like the env action space isn't a Gymnasium space. Even if 0.21.0 doesn't catch this, it would still probably cause issues later.

[2022-11-03 15:23] rohin-dasari commented on #849
Here's a minimal example that reproduces the issue:
[code]
Basically, the `action_space` attribute in the `ParallelEnv` api is a method that returns the action space for a particular agent. The gym passive environment checker expects this to be something that inherits from `gym.spaces.Space`.

[2022-11-03 20:51] RedTachyon commented on #849
Is registering PZ envs via `gym.register` something that's commonly used/recommended? I'm pretty sure that's not supposed to be done ever, but I haven't looked at the PZ code in a while

[2022-11-03 20:53] WillDudley commented on #849
Correct. Registration isn't implemented at all for PettingZoo.

[2022-11-03 23:42] rohin-dasari commented on #849
Ah, that explains it then. I'll go ahead and close the issue.

[2022-11-03 23:43] #849 closed

[2022-11-06 10:30] Yong-Hsu commented on #698
The mode parameter in the render function of env becomes deprecated. Is there another way we can save the videos?

[2022-11-06 18:25] teo-tsou commented on #261
Hello,
I have the same question as @santiagoparaella . Is there any documented way or example to create a Custom Environment?

Thank you.

[2022-11-06 23:42] WillDudley commented on #261
@teo-tsou There's documentation for this that is work in progress. In fact, I'll add it to the docs tomorrow with a disclaimer, as it's 80% complete

[2022-11-07 01:16] #834 closed

[2022-11-07 12:58] teo-tsou commented on #261
@WillDudley Thank you very much for your quick response.

[2022-11-07 13:23] WillDudley commented on #261
@teo-tsou No problem. The tutorials are now live on the PettingZoo website. Apologies that they're incomplete, I hope that together with the source code and asking questions in the discord server environment creation should be fairly straightforward.

[2022-11-08 02:06] RaffaeleGalliera opened #853 "[Bug Report] Tianshou tutorials - TypeError: 'int' object is not callable"
### Describe the bug

I have just started learning PettingZoo and the Tianshou tutorials code is giving me some problems, I think that the `render_mode` should be specified when the env is initialized, both in `1_basic_api_usage.py` and `3_cli_and_logging.py`.
`1_basic_api_usage.py`:
https://github.com/Farama-Foundation/PettingZoo/blob/cb39888c675207e4c3b9a44ed16a5153dea27009/tutorials/Tianshou/1_

[2022-11-08 19:30] #853 closed

[2022-11-14 01:15] hellofinch commented on #756
@WillDudley May I know why magent is depreciated? I think it is a good environment that has an invariable observation shape.
 If I want to use magent, what can I do?

[2022-11-14 02:40] jjshoots commented on #756
@hellofinch Magent has not been deprecated, it's just been moved to its own repository because it deserves to have its own management team behind it. View it [here](https://github.com/Farama-Foundation/MAgent2) :).

[2022-11-14 08:18] WillDudley commented on #756
We should add a warning to notify users of this. I'll add it to the list of things to do.

Thanks for the issue!

[2022-11-14 18:00] dsctt commented on #756
#857

[2022-11-22 23:11] dschonholtz opened #860 "[Bug Report] Parallel render function immediately crashes"
### Describe the bug

When trying to call the render function to see what the environment looks like with a parallel environment the environment crashes with an error saying int object isn't callable.
See code example and additional context for code snippet and exact stack trace.

I am fairly new to this library so if I'm doing something wrong that's my mistake I would be happy to fix it locally,

[2022-11-23 10:53] WillDudley commented on #860
Hi there @dschonholtz ,

This is our bad! The int error is a bug that was fixed in `v1.22.2`. However, your code still isn't correct. If you look at the object that was trying to be called, you would see `WARN: You are calling render method without specifying any render mode.`. So the correct code would be

[code]

I hope this helps, let us know if you have any other Qs by either reopening this is

[2022-11-23 10:53] #860 closed

[2022-11-27 22:06] YigitSari opened #861 "Using Stable_baselines3 observation and action spaces with pettingzoo"
### Question

I am trying to use StableBaselines3's PPO in simple_spread_v2 from PettingZoo.I have used the environment wrapper but it doesn't accept action and observation spaces from the wrapped environment.Here is the Code I got from various tutorials:
[code]

And when I run the code I got:

[code]

I can't understand the fact that I am sending Discrete(5) which is a member of <class 'gym.space